<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title></title>

    <link
      rel="stylesheet"
      href="/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css\page-css\admin-panel.css" />
    

    <script defer type="text/javascript" src="/js/admin-panel.js"></script>
  </head>

  <body>
    <section class="student-page">
      <div class="main-container">
        <div class="top-div">
          <div class="back-button">
            <a id="b-btn">Go Back</a>
          </div>
          <div class="institute-logo">
            <img src="/assets\Screenshot 2022-04-10 235928.png" alt="" />
          </div>
        </div>
        <div class="mid-div">
          <div class="left-div">
            <div class="option-div">
              <div class="left-op" id="news-ab">
                <div class="option-icon">
                  <img
                    id="news-img"
                    src="/assets/option-icon-active.svg"
                    alt=""
                  />
                </div>
                <div class="option-text">
                  <a href="#"> Add news</a>
                </div>
              </div>
              <div class="right-op" id="events-ab">
                <div class="option-icon">
                  <img
                    id="events-img"
                    src="/assets/option-icon-inactive.svg"
                    alt=""
                  />
                </div>
                <div class="option-text">
                  <a href="#"> Add event</a>
                </div>
              </div>
            </div>
            <div class="details-div">
              <form id="news-add">
                <textarea
                  name="desc"
                  id="desc"
                  cols="40"
                  rows="20"
                  placeholder="Type your News details..."
                ></textarea>
                <input
                  type="link"
                  name="link"
                  id="link"
                  class="form-control"
                  placeholder="Enter Link(https://...)"
                />
                <button class="add-button">Save</button>
              </form>
              <form id="events-add">
                <textarea
                  name="desc"
                  id="desc"
                  cols="40"
                  rows="10"
                  placeholder="Type your Events details..."
                ></textarea>
                <input
                  type="link"
                  name="link"
                  id="username"
                  class="form-control"
                  placeholder="Enter Link(https://...)"
                />
                <button class="add-button">Save</button>
              </form>
            </div>
          </div>
          <div class="right-div">
            <form id="image-add">
              <h4>Upload Carousel Image</h4>
              <input
                type="file"
                name="image"
                id="img-upd"
                class="form-control"
              />
              <button type="submit" class="add-button">Upload</button>
            </form>
            <div class="publish-btn">
              <img id="img-show" />
            </div>
          </div>
        </div>
        <div class="bottom-div">
          <div class="title-div">
            <h1>History:</h1>
          </div>
          <div class="title-div">
            <h3>News:</h3>
          </div>
          <div class="history-items" id="news-history">
            <!-- <div class="h-item">
                        <div class="time">
                            <h3>03</h3>
                            <p>Months</p>
                        </div>
                        <div class="h-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quisquam, quidem.</p>
                        </div>
                        <div class="update-btn">
                            <button class="add-button">update</button>
                        </div>
                        <div class="delete-btn">
                            <button class="add-button">delete</button>
                        </div>
                    </div> -->
          </div>
          <div class="title-div">
            <h3>Events:</h3>
          </div>
          <div class="history-items" id="events-history">
            <!-- <div class="h-item">
                        <div class="time">
                            <h3>03</h3>
                            <p>Months</p>
                        </div>
                        <div class="h-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quisquam, quidem.</p>
                        </div>
                        <div class="update-btn">
                            <button class="add-button">update</button>
                        </div>
                        <div class="delete-btn">
                            <button class="add-button">delete</button>
                        </div>
                    </div> -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>