<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <link rel="stylesheet" href="../public/css\main.css" />
    <link rel="stylesheet" href="../public/css\page-css\director-page.css" />
    <link
      rel="stylesheet"
      href="../public/fontawesome-free-6.1.2-web/css/all.min.css"
    />

    <script defer type="text/javascript" src="../public/js/main.js"></script>
  </head>

  <body>
    <%-include("./nav.ejs")%>
    <section class="about">
      <div class="container">
        <div class="row-up">
          <div class="heading">
            <h1>Director's Message</h1>
            <div class="line-style">
              <img src="../public/assets\Vector 8.svg" alt="line image" />
            </div>
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/company/iiitbh_official/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href="https://twitter.com/iiitbh_official"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a href="https://www.facebook.com/iiitbh_official/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </div>
        </div>
        <div class="row-down">
          <div class="text-d">
            <p>
              At IIIT Bhagalpur, we form complete individuals out of young
              minds. We nurture and groom students to make them capable of
              delivering despite unforeseen challenges of a highly competitive
              world. Apart from imparting knowledge, understanding, skills, and
              critical thinking, we enable them to become architects of the
              future society. We feel satisfied in providing ace professionals,
              steeped in Indian values and modern outlook, to India and the
              world.
            </p>
          </div>
          <div class="image-d">
            <img src="../public/assets\director.jpg" alt="director image" />
          </div>
        </div>
        <p class="new">
          IIIT Bhagalpur is on a fascinating Journey of growth and development.
          In terms of its impact as a technical institution in the country, the
          institute has already made some significant strides. The institute’s
          own campus on 50 acres on the bank of river Ganga is fast getting
          ready to be operational within a short span of time. The institute has
          increased its student strength from a meager 70 in 2017 to over 280
          today which is likely to increase by 800 in 2022. The quality of
          teaching and research at IIIT Bhagalpur comes from the careful choice
          of faculty members. As part of the new curriculum, we are offering
          students more choices and imbibing a sense of social responsibility
          and national commitment in them based on a hands-on approach with
          strong fundamentals. By collaborating actively with the world's best
          academic institution and industry, IIIT Bhagalpur has expanded its
          outreach. Collaborating on research is not just a plus in our
          portfolio, but integral to our growth.<br /><br />
          In the new millennium, IIIT Bhagalpur adopted a new mission and vision
          that aims to become a leading institute. IIIT Bhagalpur has made a
          remarkable start. However, there is a long way to go, and I am
          confident that with the active collaboration of all stakeholders,
          including students, faculty, staff, collaborators, parents of
          students, governmental organizations, and the general public, we can
          fulfill our mission.
        </p>
        <h3>Prof. Arvind Choubey</h3>
      </div>
    </section>
    <%-include("./footer.ejs")%>
  </body>
</html>
