<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title>FAQ | Training & Placement Cell</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../public/assets/fevicon.svg"
    />
    <link rel="stylesheet" href="../public/css/main.css" />
    <link
      rel="stylesheet"
      href="../public/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css\page-css\faq.css" />

    <script src="../public/js/faq.js"></script>
  </head>

  <body>
    <%-include("./nav.ejs")%>
    <section class="faq-section">
      <div class="faq-container">
        <div class="image">
          <img src="../public/assets/faq-graphics.svg" alt="" />
        </div>
        <div class="title">
          <h2>FAQs</h2>
        </div>
        <div class="content">
          <p class="accordion">
            Q1. When does placement session begin and for how long does it
            continue?
          </p>
          <div class="panel">
            Ans: The placement starts in July. Companies are encouraged to visit
            the campus before the placement session begins to give Pre-Placement
            Talks to our students and introduce them to the job profiles and job
            culture of their company. This does have a direct bearing on the
            interest shown by students when the company visits the campus later
            for placements.
          </div>

          <p class="accordion">
            Q2. How well is Bhagalpur connected with rest of country?
          </p>
          <div class="panel">
            Ans: Bhagalpur, which is the third largest city of Bihar, is well
            connected by air, rail and road with the rest of the country. There
            are direct Rail services to/from all major cities in the country and
            flight services from Patna and Deoghar to all the metropolises and
            other major cities.
          </div>

          <p class="accordion">Q3. How to reach the Institute?</p>
          <div class="panel">
            Ans: Bhagalpur City is connected by three nearest airports namely,
            Jay Prakash Narayan International Airport Patna, Bagdogra
            Airport,Siliguri West Bengal & Netaji Subhas Chandra Bose
            International Airport Kolkata which are 235 KM , 245 KM and 435 KM
            away from Bhagalpur City respectively. IIIT Bhagalpur has two
            nearest railway stations namely Bhagalpur Junction in the heart of
            the city and Sabour Railway Station which is 2 KM away from the
            Institute. Many direct trains from various parts of India either
            pass through or terminate at Bhagalpur Junction.
          </div>

          <p class="accordion">Q4. When was IIIT Bhagalpur established?</p>
          <div class="panel">
            Ans: The Indian Institute of Information Technology Bhagalpur is one
            of the emerging leader in the field of Information Technology and
            Automation. The institute was established in year 2017 through an
            act of parliament and it is an institute of national importance.
            Under the leadership of highly qualified and motivated faculties,
            IIIT Bhagalpur has developed a world class learning environment. As
            an outcome, we are determined to support the industry requirements
            in the area of Information Technology and Automation.
          </div>
        </div>
      </div>
    </section>

    <%-include("./footer.ejs")%>
  </body>
</html>
