<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title>Placement Gallery | IIIT Bhagalpur</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../public/assets/fevicon.svg"
    />
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/page-css/gallery.css" />
    <link
      rel="stylesheet"
      href="../public/fontawesome-free-6.1.2-web/css/all.min.css"
    />
  </head>

  <body>
    <%-include("./nav.ejs")%>

    <div class="container">
      <div class="heading">
        <h1>Placement Gallery</h1>
        <div class="line-style">
          <img src="../public/assets\Vector 8.svg" alt="line image" />
        </div>
      </div>
      <!-- Photo Grid -->
      <div class="row">
        <div class="column">
          <img src="../public/gallery/2.jpg" style="max-width: 100%" />
          <img src="../public/gallery/5.png" style="max-width: 100%" />
          <img src="../public/gallery/10.jpg" style="max-width: 100%" />
          <img src="../public/gallery/11.jpg" style="max-width: 100%" />
          <img src="../public/gallery/12.jpg" style="max-width: 100%" />
          <img src="../public/gallery/13.png" style="max-width: 100%" />
          <img src="../public/gallery/1.jpg" style="max-width: 100%" />
        </div>

        <div class="column">
          <img src="../public/gallery/6.png" style="max-width: 100%" />
          <img src="../public/gallery/15.png" style="max-width: 100%" />
          <img src="../public/gallery/16.png" style="max-width: 100%" />
          <img src="../public/gallery/3.jpg" style="max-width: 100%" />
          <img src="../public/gallery/4.jpg" style="max-width: 100%" />
          <img src="../public/gallery/5.png" style="max-width: 100%" />
          <img src="../public/gallery/14.png" style="max-width: 100%" />
        </div>

        <div class="column">
          <img src="../public/gallery/7.jfif" style="max-width: 100%" />
          <img src="../public/gallery/8.jpg" style="max-width: 100%" />
          <img src="../public/gallery/9.png" style="max-width: 100%" />
          <img src="../public/gallery/1.jpg" style="max-width: 100%" />
          <img src="../public/gallery/10.jpg" style="max-width: 100%" />
          <img src="../public/gallery/11.jpg" style="max-width: 100%" />
          <img src="../public/gallery/12.jpg" style="max-width: 100%" />
        </div>

        <div class="column">
          <img src="../public/gallery/13.png" style="max-width: 100%" />
          <img src="../public/gallery/14.png" style="max-width: 100%" />
          <img src="../public/gallery/15.png" style="max-width: 100%" />
          <img src="../public/gallery/16.png" style="max-width: 100%" />
          <img src="../public/gallery/3.jpg" style="max-width: 100%" />
          <img src="../public/gallery/4.jpg" style="max-width: 100%" />
          <img src="../public/gallery/6.png" style="max-width: 100%" />
        </div>
      </div>
    </div>

    <%-include("./footer.ejs")%>
  </body>
</html>
