<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "g1cd7146rd");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur, tnp iiitbh, iiitbh"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments in Indian Institute of Information Technology, Bhagalpur."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments in Indian Institute of Information Technology, Bhagalpur."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Training & Placement Cell | IIIT Bhagalpur</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/fevicon.svg" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.1.2-web/css/all.min.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
      integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer type="text/javascript" src="/js/main.js"></script>
  </head>

  <body>
    <!-- <section class="loader">
      <div class="container">
        <div class="rotator">
          <div class="rotate"></div>
          <div class="loader-logo">
            <img src="/assets/square-logo.png" />
          </div>
        </div>
      </div>
    </section> -->
    <%# var path=require('path')%> <%#
    console.log(path.resolve(__dirname,'/assets/fevicon.svg'))%>
    <section class="after-load">
      <%-include("./nav.ejs")%>
      <section class="banner">
        <div class="container-b">
          <div class="row">
            <div class="col-1">
              <div class="text-1">Welcome to</div>
              <div class="text-2">
                <h1>Training & Placement Cell</h1>
                <h1>Indian Institute of Information Technology</h1>
                <h1>Bhagalpur</h1>
              </div>
              <div class="text-3">
                The training and placement cell is responsible for all the
                placement activities of all the departments of the institute.
                The placement activity of the institute is conducted at IIIT
                Bhagalpur Campus.
              </div>
              <div class="users">
                <div class="options">
                  <span id="recruit" class="op-btn active-option"
                    >Recruiters</span
                  >
                  <span id="students" class="op-btn">Students</span>
                </div>
                <div class="recruit fade">
                  <div class="recruit-txt">
                    <span>Interested in Recruiting from IIIT Bhagalpur?</span>
                  </div>
                  <div class="recruit-btns">
                    <button
                      class="register"
                      onclick="window.open('/jaf','_target');"
                    >
                      Register now
                    </button>
                    <button
                      class="contact"
                      onclick="window.location.href='#contact-now'"
                    >
                      Contact
                    </button>
                  </div>
                </div>
                <div class="students fade">
                  <div class="students-btns">
                    <button
                      class="rst"
                      onclick="window.open('/assets/Student_IIIT_Bhagalpur_CV.docx');"
                    >
                      Resume Template
                    </button>
                    <button class="faq" onclick="window.open('/faq');">
                      FAQ
                    </button>
                  </div>
                  <div class="query-app">
                    <img src="/assets\qr-code.png" alt="qr-code" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card1-new">
                <div class="card1">
                  <div class="bounce">
                    <div class="carousel">
                      <div
                        class="carousel-container"
                        id="carousel-img"
                        onclick="window.open('/gallery');"
                      >
                        <!-- <div class="carousel-item">
                                            <img src="/assets\carousel-img-1.png" alt="img-1">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/assets\carousel-img-2.png" alt="img-2">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/assets/news-1.jpeg" alt="img-3">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/assets/news-3.jpeg" alt="img-4">
                                        </div> -->
                      </div>
                      <!-- <div class="scroller">
                                    <div class="left-btn" id="prev"><i class="fa fa-arrow-left"></i></div>
                                    <div class="right-btn" id="next"><i class="fa fa-arrow-right"></i></div>
                                </div> -->
                    </div>
                    <div class="pl-stats">
                      <div
                        class="inner-card"
                        onclick="window.open('/stats','_target');"
                      >
                        <img
                          class="status-img"
                          src="/assets\status-art.svg"
                          alt=""
                        />
                      </div>
                      <div
                        class="inner-card"
                        onclick="window.open('/stats','_target');"
                      >
                        <img src="/assets\placement-data.svg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flipper fade">
                  <img src="/assets\flip-btn-up.svg" alt="" />
                </div>
              </div>
              <div class="card2-new">
                <div class="card2">
                  <div class="btn-list bounce">
                    <ul>
                      <li>
                        <div
                          class="btn-item"
                          onclick="window.open('/assets/Brochure2023-24.pdf');"
                        >
                          <img src="/assets/doc-icon.svg" alt="" />
                          <h3>Placement Brochure</h3>
                        </div>
                      </li>
                      <li>
                        <div
                          class="btn-item"
                          onclick="window.open('/assets/Branchwise_Brchure.pdf');"
                        >
                          <img src="/assets/doc-icon.svg" alt="" />
                          <h3>Branchwise Brochure</h3>
                        </div>
                      </li>
                      <li>
                        <div class="btn-item" onclick="window.open('/stats');">
                          <img src="/assets/doc-icon.svg" alt="" />
                          <h3>Placement Statistics</h3>
                        </div>
                      </li>
                      <li>
                        <div class="btn-item" onclick="window.open('/stats');">
                          <img src="/assets/doc-icon.svg" alt="" />
                          <h3>Internship Information</h3>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="flipper fade">
                  <img src="/assets\flip-btn-down.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="announcement">
        <div class="container">
          <div class="row-n">
            <div class="news">
              <h2><i class="fa-solid fa-book"></i> News</h2>
              <div class="news-content">
                <!-- box for news content -->
                <div class="news-items">
                  <!-- <div class="news-item-content">
                                box for news item content
                                <h3>
                                    <a href="#"> IIIT Bhagalpur Launches its First Online Placement Portal
                                        <span>
                                            (New)
                                        </span>
                                    </a>
                                </h3>
                            </div> -->
                </div>
                <div class="news-items">
                  <!-- <div class="news-item-content">
                                box for news item content
                                <h3>
                                    <a href="#"> IIIT Bhagalpur Launches its First Online Placement Portal
                                        <span>
                                            (New)
                                        </span>
                                    </a>
                                </h3>
                            </div> -->
                </div>
              </div>
            </div>
            <div class="event">
              <h2><i class="fa fa-calendar"></i> Events</h2>
              <div class="event-content">
                <!-- box for event content -->
                <div class="event-items">
                  <!-- <div class="event-item-content">
                                box for event item content
                                <h3>
                                    <a href="#"> 29th Oct | IIIT Bhagalpur is celebrating its 10th anniversary
                                        <span>
                                            (new)
                                        </span>
                                    </a>
                                </h3>
                            </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recuiter">
        <div class="container">
          <div class="row-up">
            <div class="heading">
              <h1>Past Recruiters</h1>
              <div class="line-style">
                <img src="/assets\Vector 8.svg" alt="line image" />
              </div>
            </div>
            <div class="more">
              <a href="/visitors">See All</a>
            </div>
          </div>
          <div class="row-down">
            <div class="marquee">
              <div class="marquee-items">
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets\microsoft.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets\amazon.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets/Synopsys.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets/mediadotnet.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets/codenation.svg"
                    alt="recruit-img"
                  />
                </div>
              </div>
              <div class="marquee-items-1">
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets/intuit.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets/ibm.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets\Samsung.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets\tata.svg"
                    alt="recruit-img"
                  />
                </div>
                <div class="marquee-list">
                  <img
                    class="recruit-img"
                    src="/assets\nykaa.svg"
                    alt="recruit-img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="students-acheiv">
        <div class="container">
          <div class="row-up">
            <div class="heading">
              <h1>Students Activities</h1>
              <div class="line-style">
                <img src="/assets\Vector 8.svg" alt="line image" />
              </div>
            </div>
            <div class="social">
              <h4>Last updated: Jan, 2023 🔔</h4>
            </div>
          </div>
          <div class="row-down">
            <div class="activities">
              <div class="graph">
                <img src="/assets\activity-graph.svg" alt="activity graph" />
              </div>
              <div class="detail-timeline">
                <div class="timeline-item">
                  <div class="top-bar">
                    <div class="name">
                      <h3>Competitive Programming</h3>
                    </div>
                    <div class="icon"></div>
                  </div>
                  <div class="bottom-bar">
                    <div id="less-than-1"><span>&lt 5k</span></div>
                    <div id="between-1"><span>&lt 10k</span></div>
                    <div id="greater-than-1"><span>&gt 10k</span></div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="top-bar">
                    <div class="name">
                      <h3>Development / Open Source</h3>
                    </div>
                    <div class="icon"></div>
                  </div>
                  <div class="bottom-bar">
                    <div id="less-than-2"><span>&gt= 500</span></div>
                    <div id="between-2"><span>&gt= 300</span></div>
                    <div id="greater-than-2"><span>&lt 300</span></div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="top-bar">
                    <div class="name">
                      <h3>Entreprenuership / Side Projects</h3>
                    </div>
                    <div class="icon"></div>
                  </div>
                  <div class="bottom-bar">
                    <div id="less-than-3"><span>Startup</span></div>
                    <div id="between-3"><span>Apps</span></div>
                    <div id="between-2-3"><span>Websites</span></div>
                    <div id="greater-than-3"><span>Others</span></div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="top-bar">
                    <div class="name">
                      <h3>Research, Core projects and Others</h3>
                    </div>
                    <div class="icon"></div>
                  </div>
                  <div class="bottom-bar">
                    <div id="less-than-4"><span>Robotics</span></div>
                    <div id="between-4"><span>Cyber Security</span></div>
                    <div id="between-2-4"><span>AI/ML</span></div>
                    <div id="greater-than-4"><span>Others</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-strip">
            <div class="color-panel">
              <div class="color-detail">
                <div class="color" style="background-color: #ffbc00"></div>
                <div class="color-desc">
                  <p>Competitive Prog...</p>
                </div>
              </div>
              <div class="color-detail">
                <div class="color" style="background-color: #00adef"></div>
                <div class="color-desc">
                  <p>Development</p>
                </div>
              </div>
              <div class="color-detail">
                <div class="color" style="background-color: #80cc28"></div>
                <div class="color-desc">
                  <p>Entreprenuership</p>
                </div>
              </div>
              <div class="color-detail">
                <div class="color" style="background-color: #fc2779"></div>
                <div class="color-desc">
                  <p>Research & Others</p>
                </div>
              </div>
            </div>
            <a href="#" class="know-more">Know More</a>
          </div>
        </div>
      </section> -->
      <section class="about">
        <div class="container">
          <div class="row-up">
            <div class="heading">
              <h1>About IIIT Bhagalpur</h1>
              <div class="line-style">
                <img src="/assets\Vector 8.svg" alt="line image" />
              </div>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/company/iiitbh_official/"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a href="https://twitter.com/iiitbh_official"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="https://www.facebook.com/iiitbh_official/"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </div>
          </div>
          <div class="row-down">
            <div class="text">
              <p>
                Indian Institute of Information Technology Bhagalpur is an
                institute of national importance and a joint venture of Govt. of
                India (50%), Govt. of Bihar (35%) and BELTRON (15%). IIIT
                Bhagalpur started its first academic session under the
                mentorship of IIT Guwahati on 1st August 2017 in a temporary
                building of Bhagalpur College of Engineering. The institute is
                situated on the bank of the holy river Ganga, 250 km away from
                the city Patna, the capital of Bihar. The institute is fully
                residential and has separate hostels for boys and girls. 50
                Acres of Land has been provided by the Govt. of Bihar and
                construction work is likely to start soon. The institute is
                operating in a temporary building but all the required
                laboratory development has been done as per the curriculum
                design.
              </p>
            </div>
            <div class="image">
              <img src="/assets\institute.jpg" alt="campus image" />
            </div>
          </div>
        </div>
      </section>
      <section class="about">
        <div class="container">
          <div class="row-up">
            <div class="heading">
              <h1>Director's Message</h1>
              <div class="line-style">
                <img src="/assets\Vector 8.svg" alt="line image" />
              </div>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/company/iiitbh_official/"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a href="https://twitter.com/iiitbh_official"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="https://www.facebook.com/iiitbh_official/"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </div>
          </div>
          <div class="row-down">
            <div class="text-d">
              <p>
                At IIIT Bhagalpur, we form complete individuals out of young
                minds. We nurture and groom students to make them capable of
                delivering despite unforeseen challenges of a highly competitive
                world. Apart from imparting knowledge, understanding, skills,
                and critical thinking, we enable them to become architects of
                the future society. We feel satisfied in providing ace
                professionals, steeped in Indian values and modern outlook, to
                India and the world. IIIT Bhagalpur is on a fascinating Journey
                of growth and development. In terms of its impact as a technical
                institution in the country...
              </p>
              <a href="/directorPage"
                >See more <i class="fa fa-arrow-right"></i
              ></a>
              <h3>Prof. Arvind Choubey</h3>
            </div>
            <div class="image-d">
              <img src="/assets\director.jpg" alt="director image" />
            </div>
          </div>
        </div>
      </section>
      <section id="contact-now" class="contact-section">
        <div class="container">
          <div class="row-up">
            <div class="heading">
              <h1>Contact US</h1>
              <div class="line-style">
                <img src="/assets\Vector 8.svg" alt="line image" />
              </div>
            </div>
            <div class="more">
              <h2>Feedback</h2>
            </div>
          </div>
          <div class="row-mid_c">
            <div class="contact-cards">
              <div class="contact-card">
                <div class="card-img">
                  <img src="/assets\Gaurav.jpg" alt="card image" />
                </div>
                <div class="card-content">
                  <h3>Dr. Gaurav Kumar</h3>
                  <p>(Faculty Incharge, Training & Placement Cell)</p>
                  <h4>
                    <i class="fa-solid fa-phone" aria-hidden="true"></i
                    ><a href="tel:+917484055317"> +91-74840-55317</a>
                  </h4>
                  <h4>
                    <i class="fa-solid fa-envelope" aria-hidden="true"></i
                    ><a href="mailto: tnp_fic@iiitbh.ac.in">
                      tnp_fic@iiitbh.ac.in</a
                    >
                  </h4>
                </div>
              </div>
              <div class="contact-card">
                <div class="card-img">
                  <img src="/assets\Sourav_Biswas.jpg" alt="card image" />
                </div>
                <div class="card-content">
                  <h3>Sourav Biswas</h3>
                  <p>(Training and Placement Officer)</p>
                  <h4>
                    <i class="fa-solid fa-phone" aria-hidden="true"></i
                    ><a href="tel:+919903326156"> +91-9903326156</a>
                  </h4>
                  <h4>
                    <i class="fa-solid fa-envelope" aria-hidden="true"></i
                    ><a href="mailto:tpo@iiitbh.ac.in"> tpo@iiitbh.ac.in</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row-down_c">
            <div class="connection">
              <div class="image_c">
                <img src="/gallery/8.jpg" alt="connection image" />
              </div>
              <div class="content_c">
                <h2>More Ways to get Connected</h2>
                <p>
                  Right from contacting companies to managing all logistics of
                  arranging for tests, pre placement talks and conducting final
                  interviews the Training and Placement Cell officials and
                  volunteers provide their best possible assistance to the
                  recruiters.
                </p>
                <div class="buttons">
                  <button
                    class="btn"
                    onclick="window.open('/contactPage','_target');"
                  >
                    Visit now
                  </button>
                  <a href="/contactPage" target="_blank"> Help & Support >></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%-include("./footer.ejs")%>
    </section>

    <!-- <script>
      ["/js/main.js","/js/slider.js"].forEach(
        function (src) {
          var script = document.createElement("script");
          script.src = src;
          script.async = false;
          document.head.appendChild(script);
        }
      );
    </script> -->
  </body>
</html>
