<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title>About | Training & Placement Cell</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/fevicon.svg"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css\page-css\institute-page.css" />

    <script defer type="text/javascript" src="/js/main.js"></script>
  </head>

  <body>
    <%-include("./nav.ejs")%>
    <section class="about">
      <div class="container">
        <div class="row-up">
          <div class="heading">
            <h1>About IIIT Bhagalpur</h1>
            <div class="line-style">
              <img src="/assets/Vector 8.svg" alt="line image" />
            </div>
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/company/iiitbh_official/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href="https://twitter.com/iiitbh_official"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a href="https://www.facebook.com/iiitbh_official/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </div>
        </div>
        <div class="row-down">
          <div class="text">
            <p>
              Indian Institute of Information Technology Bhagalpur is an
              institute of national importance and a joint venture of Govt. of
              India (50%), Govt. of Bihar (35%) and BELTRON (15%). IIIT
              Bhagalpur started its first academic session under the mentorship
              of IIT Guwahati on 1st August 2017 in a temporary building of
              Bhagalpur College of Engineering. The institute is situated on the
              bank of the holy river Ganga, 250 km away from the city Patna, the
              capital of Bihar. The institute is fully residential and has
              separate hostels for boys and girls. 50 Acres of Land has been
              provided by the Govt. of Bihar and construction work is likely to
              start soon. The institute is operating in a temporary building but
              all the required laboratory development has been done as per the
              curriculum design.
            </p>
          </div>
          <div class="image">
            <img src="/assets\institute.jpg" alt="campus image" />
          </div>
        </div>
      </div>
    </section>
    <section class="why-iiitbh">
      <div class="container">
        <div class="row-up">
          <div class="heading">
            <h1>Programs Offered</h1>
            <div class="line-style">
              <img src="/assets\Vector 8.svg" alt="line image" />
            </div>
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/company/iiitbh_official/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href="https://twitter.com/iiitbh_official"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a href="https://www.facebook.com/iiitbh_official/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </div>
        </div>
        <div class="row-down">
          <div class="text-new">
            <h3>B.Tech: Bachelor of Technology</h3>
            <p>
              The program's central goals are to impart the fundamental of
              professional engineering to young students. Admission to there
              programs is carried out through the Joint Entrance Exam (JEE) one
              of the toughest examination in the world.
            </p>
          </div>
          <div class="image-new">
            <img src="/assets/btech.svg" alt="campus image" />
          </div>
          <div class="contents">
            <h3>OFFERED IN FOLLOWING DEPARTMENTS</h3>
            <li>Computer science & engineering</li>
            <li>Electronics & communication Engineering</li>
            <li>Mechatronics engineering</li>
          </div>
        </div>

        <div class="row-down">
          <div class="text-new">
            <h3>M.Tech: Master of Technology</h3>
            <p>
              This four-semester program developed to provide graduates with a
              synergetic combination of industry-oriented coursework and
              research. Graduates students in various field of engineering are
              admitted to various specialization through GATE(Graduate Aptitude
              Test in Engineering) and Institute Examination.
            </p>
          </div>
          <div class="image-new">
            <img src="/assets/mtech.svg" alt="campus image" />
          </div>
          <div class="contents">
            <h3>OFFERED IN FOLLOWING DEPARTMENTS</h3>
            <li>Computer science & engineering</li>
            <li>Electronics & communication Engineering</li>
            <li>Mechatronics engineering</li>
          </div>
        </div>

        <div class="row-down">
          <div class="text-new">
            <h3>Ph.D: Doctor of Philosophy</h3>
            <p>
              Ph.D. is a rigorous research program. For which admission is
              thorough a comprehensive evaluation of a candidates ability by a
              written test and an interview process. Completion of Ph.D.
              establishes a candidates ability to pursue independently basic or
              applied research and prepares him/her for career in industry.
              Academic or research laboratories.
            </p>
          </div>
          <div class="image-new">
            <img src="/assets/phd.svg" alt="campus image" />
          </div>
          <div class="contents">
            <h3>OFFERED IN FOLLOWING DEPARTMENTS</h3>
            <li>Computer science & engineering</li>
            <li>Electronics & communication Engineering</li>
            <li>Mechatronics engineering</li>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="reach-us-div">
        <div class="reach-info">
          <h3>Reach Us:</h3>
          <p>
            <i class="fa-solid fa-map-marker"></i>
            <span> IIIT Bhagalpur campus, sabour, Bhagalpur 813210.</span>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <span> +91-95899-95899</span>
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <span> tpo@iiitbh.ac.in</span>
          </p>
          <p>
            <i class="fa-solid fa-globe"></i>
            <span onclick="window.open('https://www.iiitbh.ac.in','_target');">
              www.iiitbh.ac.in</span
            >
          </p>
          <p>
            <i class="fa-solid fa-plane"></i>
            <span>
              Nearest Airport : Jai Prakash International Airprt, Patna
              (Bihar)</span
            >
          </p>
          <p>
            <i class="fa-solid fa-road"></i>
            <span>
              Nearest Station : Bhagalpur Junction, Bhagalpur (Bihar)</span
            >
          </p>
        </div>
        <div class="map-embed-i">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.4829401286493!2d87.04220291493483!3d25.25433468386963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f0481fd7d50f6d%3A0xbe75d3ff73e0373e!2sIndian%20Institute%20of%20Information%20Technology%20Bhagalpur!5e0!3m2!1sen!2sin!4v1653890664295!5m2!1sen!2sin"
            width="100%"
            height="100%"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
    <%-include("./footer.ejs")%>
  </body>
</html>
