<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitment Portal | IIIT Bhagalpur</title>

    <link rel="stylesheet" href="/css\jaf.css">
    <link rel="icon" type="image/png" href="/assets/square-logo.png" sizes="96x96">
    <script defer type="text/javascript" src="/js/jaf.js"></script>
</head>

<body>
    <!-- <nav class="navbar">
        <div class="logo">
            <div class="image">
                <img src="/assets/square-logo.png" alt="iiitbh_logo">
            </div>
            <div class="text">
                <h1>Recruitment Portal</h1>
                <h2>Indian Institute of Information Technology Bhagalpur</h2>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="https://iiitbh.ac.in">Home</a>
                </li>
                <li>
                    <a href="https://iiitbh.ac.in">Notice</a>
                </li>
                <li>
                    <a href="https://iiitbh.ac.in">Contact</a>
                </li>
            </ul>
        </div>
    </nav> -->

    <section class="job-section">
        <div class="main-container">
            <div class="banner">
                <img src="\assets\jaf-banner.png" alt="JAF - Job Announcement Form">
            </div>
            <div class="job-container">
                <div class="instruction">
                    <h1>1. Instructions</h1>
                </div>
                <div class="forms">
                    <h1>2. Fill Details</h1>
                </div>
                <div class="print">
                    <h1>3. Submit</h1>
                </div>
            </div>
            <div class="job-content-1">
                <div class="heading">
                    <h1>Instructions</h1>
                </div>
                <div class="rules">
                    <div class="bottom">
                        <ul>
                            <li>
                                Companies are contacted by the Placement office or Placement
                                cell (authorized student representatives) and invitations
                                are extended, providing relevant information and the
                                placement brochure.
                            </li>
                            <li>
                                Companies are given an exclusive login id in the website
                                after they submit the filled-in job announcement forms (JAF)
                                via email.
                            </li>
                            <li>
                                The JAFs are made available online, which helps the willing
                                students to register for the same.
                            </li>
                            <li>
                                The Placement Cell and the Company confer and finalize the
                                date for pre-placement talks if necessary. During the
                                pre-placement talk the company team can interact with the
                                students and impart to them, an idea of what the company
                                requires.
                            </li>
                            <li>
                                Each student who has registered for a particular company
                                submits his/her resume so that the company can shortlist the
                                applied students according to their grade or any other
                                criteria the company demands.
                            </li>
                            <li>
                                A detailed schedule is prepared by the Placement Cell
                                evaluating the job offer, prospects, student intake and the
                                like. The schedule is confirmed with all the companies that
                                have applied to recruit.
                            </li>
                            <li>
                                The companies/organizations visit the IIIT Bhagalpur campus/
                                IIT Guwahati campus, meet the registered (or shortlisted as
                                the case may be) students, and conduct the interviews, tests
                                or group discussion sessions in accordance with their
                                respective recruitment process. The date of the interview
                                and other sessions should be in compliance with the mutually
                                confirmed schedule discussed earlier.
                            </li>
                            <li>
                                The companies are required to prepare and submit, with a
                                written confirmation letter the list of students who are
                                selected after the interview process, on the day of the
                                interview itself.
                            </li>
                            <li>
                                The job offer letters are to reach the Placement Cell, in
                                due course of time.
                            </li>
                            <li>
                                In case a student gets a job offer, he/she is not entitled
                                to appear for further tests/interviews by any other company.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="job-content-2">
                <div class="form-container">
                    <div class="heading">
                        <h1>Registration Details</h1>
                    </div>
                    <form id="recruit">
                        <div class="common-div">
                            <h2>General Information:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="appNo">Application Number</h3>
                                    <input type="text" name="appNo" id="appNo" class="form-control"
                                        placeholder="Enter Application Number" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="fname">Candidate Name</h3>
                                    <input type="text" name="fname" id="fname" class="form-control"
                                        placeholder="Enter Your Name" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="father-name">Father's Name</h3>
                                    <input type="text" name="fatherName" id="father-name" class="form-control"
                                        placeholder="Enter Father's Name" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="email">Email ID</h3>
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="phone">Mobile Number</h3>
                                    <input type="tel" name="phone" id="phone" class="form-control"
                                        placeholder="Enter Mobile" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dob">D.O.B</h3>
                                    <input type="date" name="dob" id="dob" class="form-control"
                                        placeholder="Enter DD/MM/YYYY" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="city">City</h3>
                                    <input type="text" name="city" id="city" class="form-control"
                                        placeholder="Enter City" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="empIIITBH">Department</h3>
                                    <select name="empIIITBH" id="emp-iiitbh">
                                        <option selected disabled>Choose option</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="date">Enter Date</h3>
                                    <input type="date" name="date" id="date" class="form-control"
                                        placeholder="Enter DD/MM/YYYY" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="category">Category</h3>
                                    <select id="category" name="category">
                                        <option value="general">GEN</option>
                                        <option value="ews">EWS</option>
                                        <option value="obc">OBC</option>
                                        <option value="sc">SC</option>
                                        <option value="st">ST</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="pwd">PWD</h3>
                                    <select id="pwd" name="pwd">
                                        <option value="0">NO</option>
                                        <option value="1">YES</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dpt">Department</h3>
                                    <input type="text" name="dpt" id="dpt-name" class="form-control"
                                        placeholder="Enter Your Department" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="father-name">Post</h3>
                                    <input type="text" name="post" id="post-name" class="form-control"
                                        placeholder="Enter Your Post" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="gnd">Gender</h3>
                                    <select id="gnd" name="gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="married">Marital Status</h3>
                                    <select id="married" name="married">
                                        <option value="1">Married</option>
                                        <option value="0">Un Married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="nation">Nationality</h3>
                                    <select id="nation" name="nation-name">
                                        <option value="I">Indian</option>
                                        <option value="O">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="religion">Religion</h3>
                                    <input type="text" name="religion" id="religion-name" class="form-control"
                                        placeholder="Enter Your Religion" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="agp">AGP</h3>
                                    <input type="text" name="agp" id="agp-name" class="form-control"
                                        placeholder="Enter AGP" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="orcid">ORCID ID</h3>
                                    <input type="text" name="orcid" id="orcid-id" class="form-control"
                                        placeholder="Enter Orcid Id" required>
                                </div>
                            </div>
                            <h2>Address:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="add-c">Address for Correspondence</h3>
                                    <input type="text" name="add-c-1" id="add-c-name-1" class="form-control"
                                        placeholder="Enter Address Line 1" required>
                                    <input type="text" name="add-c-2" id="add-c-name-2" class="form-control"
                                        placeholder="Enter Address line 2" required>
                                    <input type="text" name="add-c-3" id="add-c-name-3" class="form-control"
                                        placeholder="Enter Pincode" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="add-p">Permanent Address</h3>
                                    <input type="text" name="add-p-1" id="add-p-name-1" class="form-control"
                                        placeholder="Enter Address line 1" required>
                                    <input type="text" name="add-p-2" id="add-p-name-2" class="form-control"
                                        placeholder="Enter Address line 2" required>
                                    <input type="text" name="add-p-3" id="add-p-name-3" class="form-control"
                                        placeholder="Enter Pincode" required>
                                </div>
                            </div>
                            <h2>Present Employment:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="ogn">Organisation</h3>
                                    <input type="text" name="ogn" id="ogn-name" class="form-control"
                                        placeholder="Enter Insitite/Organisation" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="dgn">Designation</h3>
                                    <input type="text" name="dgn" id="dgn-name" class="form-control"
                                        placeholder="Enter Designation" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="wrk">Work Type</h3>
                                    <input type="text" name="wrk" id="wrk-name" class="form-control"
                                        placeholder="Enter work type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="pay">Pay Band/Level</h3>
                                    <input type="text" name="pay" id="pay-name" class="form-control"
                                        placeholder="Enter Pay Level" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="g-pay">Grade Pay</h3>
                                    <input type="text" name="g-pay" id="g-pay-name" class="form-control"
                                        placeholder="Enter Grade Pay" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="salary">Total Salary</h3>
                                    <input type="text" name="salary" id="salary-name" class="form-control"
                                        placeholder="Enter Salary" required>
                                </div>
                            </div>
                            <h2>Educational Information:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dge">Degree</h3>
                                    <input type="text" name="dge" id="dge-name" class="form-control"
                                        placeholder="Enter Degree" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="branch">Specialization</h3>
                                    <input type="text" name="branch" id="branch-name" class="form-control"
                                        placeholder="Enter Branch of education" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="college">University Name</h3>
                                    <input type="text" name="college" id="college-name" class="form-control"
                                        placeholder="Enter College" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="year">Passing Year</h3>
                                    <input type="text" name="year" id="year-name" class="form-control"
                                        placeholder="Enter YYYY" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="marks">Marks Percentage/ CGPA</h3>
                                    <input type="text" name="marks" id="marks-name" class="form-control"
                                        placeholder="Enter Marks Obtained" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="division">Grade/Division</h3>
                                    <input type="text" name="division" id="division-name" class="form-control"
                                        placeholder="Enter Qualifiction Division" required>
                                </div>
                            </div>
                            <h2>Degree Details:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dgt">Type of Degree</h3>
                                    <input type="text" name="dgt" id="dgt" class="form-control"
                                        placeholder="Enter Type of Degree" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="title">Title</h3>
                                    <input type="text" name="title" id="title-name" class="form-control"
                                        placeholder="Enter Degree Title" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="ra">Research Area</h3>
                                    <input type="text" name="ra" id="ra" class="form-control"
                                        placeholder="Enter Research Area" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="d-date">Degree Awarded Date</h3>
                                    <input type="date" name="d-date" id="d-date-name" class="form-control"
                                        placeholder="Enter/Select Date" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="n-add">Name of Supervisors & Address</h3>
                                    <input type="text" name="n-add" id="n-add" class="form-control"
                                        placeholder="Enter Name & Address" required>
                                </div>
                            </div>
                            <h2>Experiences:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="e-type">Type of Experience</h3>
                                    <input type="text" name="e-type" id="e-type-name" class="form-control"
                                        placeholder="Enter Experience Type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="inds">Industry</h3>
                                    <input type="text" name="inds" id="inds-name" class="form-control"
                                        placeholder="Enter Industry" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="c-org">Company/Organisation</h3>
                                    <input type="text" name="c-org" id="c-org-name" class="form-control"
                                        placeholder="Enter Company/Organisation Name" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="from">From</h3>
                                    <input type="date" name="from" id="from-name" class="form-control"
                                        placeholder="Enter Starting Date" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="till">Till</h3>
                                    <input type="date" name="till" id="till-name" class="form-control"
                                        placeholder="Enter End Date" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="w-type">Nature of Work</h3>
                                    <input type="text" name="w-type" id="w-type-name" class="form-control"
                                        placeholder="Enter Work Type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="w-dsg">Designation</h3>
                                    <input type="txt" name="w-dsg" id="w-dsg-name" class="form-control"
                                        placeholder="Enter Work Designation" required>
                                </div>
                            </div>
                            <h2>Publications/Books/Journals:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="a-type">Type</h3>
                                    <input type="text" name="a-type" id="a-type-name" class="form-control"
                                        placeholder="Enter Publication Type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="n-number">National (Numbers)</h3>
                                    <input type="txt" name="n-number" id="n-number-name" class="form-control"
                                        placeholder="Enter Number Of Publications" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="i-number">International (Numbers)</h3>
                                    <input type="txt" name="i-number" id="i-number-name" class="form-control"
                                        placeholder="Enter Number Of Publications" required>
                                </div>
                            </div>
                            <h2>Award/Honours/Prizes:</h2>
                            <div class="form-group">
                                <h3 for="aw-type">Award Details</h3>
                                <input type="text" name="aw-type" id="aw-type-name" class="form-control"
                                    placeholder="Enter Award Details" required>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="aw-time">Date or Year</h3>
                                    <input type="date" name="aw-time" id="aw-time" class="form-control"
                                        placeholder="Enter/Select Date" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="aw-by">Awarded by</h3>
                                    <input type="txt" name="aw-by" id="aw-by-name" class="form-control"
                                        placeholder="Enter Work Designation" required>
                                </div>
                            </div>
                            <h2>Future Plans/ Interest:</h2>
                            <div class="form-group">
                                <h3 for="plans">Research plan/ Course plan/ Other Interest:</h3>
                                <textarea name="plans" id="plans" cols="30" rows="10"></textarea>
                            </div>
                            <h2>Name Two referees with complete contact details</h2>
                            <div class="form-group">
                                <h3 for="refer-1">First</h3>
                                <input type="text" name="refer-1-name" id="refer-1-name" class="form-control"
                                    placeholder="Enter Name, Contact & Address" required>
                            </div>
                            <div class="form-group">
                                <h3 for="refer-2">Second</h3>
                                <input type="txt" name="refer-2" id="refer-2-name" class="form-control"
                                    placeholder="Enter Name, Contact & Address" required>
                            </div>
                            <h2>Any Other Information:</h2>
                            <div class="form-group">
                                <h3 for="o-info">Feedback/Request/Others:</h3>
                                <textarea name="o-info" id="o-info" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="new_btn submit-btn">
                            <button type="submit" class="btn">Done</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="job-content-3">
                <div class="heading">
                    <h1>Submition Details</h1>
                </div>
                <div class="preview">
                    <p>By submitting this document, You are confirming that all the details provided by you are correct and accurate to the best of your knowledge. You understand that any false or misleading information may result in rejection.</p>
                </div>
                <div class="new_btn submit-btn">
                    <button type="submit" class="btn">Final Submit</button>
                </div>
            </div>
        </div>
    </section>


</body>

</html>