<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitment Portal | IIIT Bhagalpur</title>

    <link rel="stylesheet" href="/css\jaf.css">
    <link rel="icon" type="image/png" href="/assets/square-logo.png" sizes="96x96">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <div class="image">
                <img src="/assets/square-logo.png" alt="iiitbh_logo">
            </div>
            <div class="text">
                <h1>Recruitment Portal</h1>
                <h2>Indian Institute of Information Technology Bhagalpur</h2>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="https://iiitbh.ac.in">Home</a>
                </li>
                <li>
                    <a href="https://iiitbh.ac.in">Notice</a>
                </li>
                <li>
                    <a href="https://iiitbh.ac.in">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="job-section">
        <div class="main-container">
            <div class="job-container">
                <div class="instruction">
                    <h1>1. Read Instructions</h1>
                </div>
                <div class="forms">
                    <h1>2. Fill Form</h1>
                </div>
                <div class="print">
                    <h1>3. Print Application</h1>
                </div>
            </div>
            <div class="job-content-1">
                <div class="rules">
                    <div class="top">
                        <h1> Please read instructions carefully before filling the form:</h1>
                        <p>1. Please put NA which is not applicable for you.</p>
                        <p>2. You have to fill all fields of all sub menu.</p>
                    </div>
                    <div class="bottom">
                        <h1> Filled Application Form, Credit Point Details Sheet and Self attested copies of the
                            following documents must be send in order of :</h1>
                        <p>A valid photo ID.</p>
                        <p>Proof of date of birth.</p>
                        <p>Category certificate for SC/ST.</p>
                        <p>Category certificate for OBC (Non-Creamy Layer) / EWS (Income and Asset Certificate) obtained
                            on or after 01/04/2022.</p>
                        <p>Category certificate for PwD (if applicable).</p>
                        <p>Academic records (Marks/Grade Cards and Certificates from SSLC/Matriculation onwards up to
                            Ph.D.).</p>
                        <p>Experience certificates.</p>
                        <p>Salary certificate/Pay Slip of current employment.</p>
                        <p>Publications (copy of first page of publications), patents and copyrights details.</p>
                        <p>Details of Workshops/Conferences/Short Term Programs organized.</p>
                        <p>Certificate of Training/Summer/Winter Schools attended.</p>
                        <p>Conferences/Workshops attended and presented papers.</p>
                        <p>Details of Sponsored and Consultancy Projects.</p>
                        <p>Fellowship/Membership of Professional Bodies.</p>
                        <p>Awards and Recognitions.</p>
                        <p>Testimonials. (If any)</p>
                        <p>Other Relevant Certificates.</p>
                        <p>Reprint of three of your best research papers.</p>
                    </div>
                </div>
            </div>
            <div class="job-content-2">
                <div class="form-container">
                    <div class="heading">
                        <h1>Fill Application Details</h1>
                    </div>
                    <form action="">
                        <div class="common-div">
                            <h2>General Information:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="appNo">Application Number</h3>
                                    <input type="text" name="appNo" id="appNo" class="form-control"
                                        placeholder="Enter Application Number" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="fname">Candidate Name</h3>
                                    <input type="text" name="fname" id="fname" class="form-control"
                                        placeholder="Enter Your Name" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="father-name">Father's Name</h3>
                                    <input type="text" name="fatherName" id="father-name" class="form-control"
                                        placeholder="Enter Father's Name" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="email">Email ID</h3>
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="Enter Email" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="phone">Mobile Number</h3>
                                    <input type="tel" name="phone" id="phone" class="form-control"
                                        placeholder="Enter Mobile" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dob">D.O.B</h3>
                                    <input type="date" name="dob" id="dob" class="form-control"
                                        placeholder="Enter DD/MM/YYYY" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="city">City</h3>
                                    <input type="text" name="city" id="city" class="form-control"
                                        placeholder="Enter City" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="empIIITBH">Department</h3>
                                    <select name="empIIITBH" id="emp-iiitbh">
                                        <option selected disabled>Choose option</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="date">Enter Date</h3>
                                    <input type="date" name="date" id="date" class="form-control"
                                        placeholder="Enter DD/MM/YYYY" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="category">Category</h3>
                                    <select id="category" name="category">
                                        <option value="general">GEN</option>
                                        <option value="ews">EWS</option>
                                        <option value="obc">OBC</option>
                                        <option value="sc">SC</option>
                                        <option value="st">ST</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="pwd">PWD</h3>
                                    <select id="pwd" name="pwd">
                                        <option value="0">NO</option>
                                        <option value="1">YES</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dpt">Department</h3>
                                    <input type="text" name="dpt" id="dpt-name" class="form-control"
                                        placeholder="Enter Your Department" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="father-name">Post</h3>
                                    <input type="text" name="post" id="post-name" class="form-control"
                                        placeholder="Enter Your Post" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="gnd">Gender</h3>
                                    <select id="gnd" name="gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="married">Marital Status</h3>
                                    <select id="married" name="married">
                                        <option value="1">Married</option>
                                        <option value="0">Un Married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="nation">Nationality</h3>
                                    <select id="nation" name="nation-name">
                                        <option value="I">Indian</option>
                                        <option value="O">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h3 for="religion">Religion</h3>
                                    <input type="text" name="religion" id="religion-name" class="form-control"
                                        placeholder="Enter Your Religion" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="agp">AGP</h3>
                                    <input type="text" name="agp" id="agp-name" class="form-control"
                                        placeholder="Enter AGP" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="orcid">ORCID ID</h3>
                                    <input type="text" name="orcid" id="orcid-id" class="form-control"
                                        placeholder="Enter Orcid Id" required>
                                </div>
                            </div>
                            <h2>Address:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="add-c">Address for Correspondence</h3>
                                    <input type="text" name="add-c-1" id="add-c-name-1" class="form-control"
                                        placeholder="Enter Address Line 1" required>
                                    <input type="text" name="add-c-2" id="add-c-name-2" class="form-control"
                                        placeholder="Enter Address line 2" required>
                                    <input type="text" name="add-c-3" id="add-c-name-3" class="form-control"
                                        placeholder="Enter Pincode" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="add-p">Permanent Address</h3>
                                    <input type="text" name="add-p-1" id="add-p-name-1" class="form-control"
                                        placeholder="Enter Address line 1" required>
                                    <input type="text" name="add-p-2" id="add-p-name-2" class="form-control"
                                        placeholder="Enter Address line 2" required>
                                    <input type="text" name="add-p-3" id="add-p-name-3" class="form-control"
                                        placeholder="Enter Pincode" required>
                                </div>
                            </div>
                            <h2>Present Employment:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="ogn">Organisation</h3>
                                    <input type="text" name="ogn" id="ogn-name" class="form-control"
                                        placeholder="Enter Insitite/Organisation" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="dgn">Designation</h3>
                                    <input type="text" name="dgn" id="dgn-name" class="form-control"
                                        placeholder="Enter Designation" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="wrk">Work Type</h3>
                                    <input type="text" name="wrk" id="wrk-name" class="form-control"
                                        placeholder="Enter work type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="pay">Pay Band/Level</h3>
                                    <input type="text" name="pay" id="pay-name" class="form-control"
                                        placeholder="Enter Pay Level" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="g-pay">Grade Pay</h3>
                                    <input type="text" name="g-pay" id="g-pay-name" class="form-control"
                                        placeholder="Enter Grade Pay" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="salary">Total Salary</h3>
                                    <input type="text" name="salary" id="salary-name" class="form-control"
                                        placeholder="Enter Salary" required>
                                </div>
                            </div>
                            <h2>Educational Information:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dge">Degree</h3>
                                    <input type="text" name="dge" id="dge-name" class="form-control"
                                        placeholder="Enter Degree" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="branch">Specialization</h3>
                                    <input type="text" name="branch" id="branch-name" class="form-control"
                                        placeholder="Enter Branch of education" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="college">University Name</h3>
                                    <input type="text" name="college" id="college-name" class="form-control"
                                        placeholder="Enter College" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="year">Passing Year</h3>
                                    <input type="text" name="year" id="year-name" class="form-control"
                                        placeholder="Enter YYYY" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="marks">Marks Percentage/ CGPA</h3>
                                    <input type="text" name="marks" id="marks-name" class="form-control"
                                        placeholder="Enter Marks Obtained" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="division">Grade/Division</h3>
                                    <input type="text" name="division" id="division-name" class="form-control"
                                        placeholder="Enter Qualifiction Division" required>
                                </div>
                            </div>
                            <h2>Degree Details:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="dgt">Type of Degree</h3>
                                    <input type="text" name="dgt" id="dgt" class="form-control"
                                        placeholder="Enter Type of Degree" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="title">Title</h3>
                                    <input type="text" name="title" id="title-name" class="form-control"
                                        placeholder="Enter Degree Title" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="ra">Research Area</h3>
                                    <input type="text" name="ra" id="ra" class="form-control"
                                        placeholder="Enter Research Area" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="d-date">Degree Awarded Date</h3>
                                    <input type="date" name="d-date" id="d-date-name" class="form-control"
                                        placeholder="Enter/Select Date" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="n-add">Name of Supervisors & Address</h3>
                                    <input type="text" name="n-add" id="n-add" class="form-control"
                                        placeholder="Enter Name & Address" required>
                                </div>
                            </div>
                            <h2>Experiences:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="e-type">Type of Experience</h3>
                                    <input type="text" name="e-type" id="e-type-name" class="form-control"
                                        placeholder="Enter Experience Type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="inds">Industry</h3>
                                    <input type="text" name="inds" id="inds-name" class="form-control"
                                        placeholder="Enter Industry" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="c-org">Company/Organisation</h3>
                                    <input type="text" name="c-org" id="c-org-name" class="form-control"
                                        placeholder="Enter Company/Organisation Name" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="from">From</h3>
                                    <input type="date" name="from" id="from-name" class="form-control"
                                        placeholder="Enter Starting Date" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="till">Till</h3>
                                    <input type="date" name="till" id="till-name" class="form-control"
                                        placeholder="Enter End Date" required>
                                </div>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="w-type">Nature of Work</h3>
                                    <input type="text" name="w-type" id="w-type-name" class="form-control"
                                        placeholder="Enter Work Type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="w-dsg">Designation</h3>
                                    <input type="txt" name="w-dsg" id="w-dsg-name" class="form-control"
                                        placeholder="Enter Work Designation" required>
                                </div>
                            </div>
                            <h2>Publications/Books/Journals:</h2>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="a-type">Type</h3>
                                    <input type="text" name="a-type" id="a-type-name" class="form-control"
                                        placeholder="Enter Publication Type" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="n-number">National (Numbers)</h3>
                                    <input type="txt" name="n-number" id="n-number-name" class="form-control"
                                        placeholder="Enter Number Of Publications" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="i-number">International (Numbers)</h3>
                                    <input type="txt" name="i-number" id="i-number-name" class="form-control"
                                        placeholder="Enter Number Of Publications" required>
                                </div>
                            </div>
                            <h2>Award/Honours/Prizes:</h2>
                            <div class="form-group">
                                <h3 for="aw-type">Award Details</h3>
                                <input type="text" name="aw-type" id="aw-type-name" class="form-control"
                                    placeholder="Enter Award Details" required>
                            </div>
                            <div class="row-div">
                                <div class="form-group">
                                    <h3 for="aw-time">Date or Year</h3>
                                    <input type="date" name="aw-time" id="aw-time" class="form-control"
                                        placeholder="Enter/Select Date" required>
                                </div>
                                <div class="form-group">
                                    <h3 for="aw-by">Awarded by</h3>
                                    <input type="txt" name="aw-by" id="aw-by-name" class="form-control"
                                        placeholder="Enter Work Designation" required>
                                </div>
                            </div>
                            <h2>Future Plans/ Interest:</h2>
                            <div class="form-group">
                                <h3 for="plans">Research plan/ Course plan/ Other Interest:</h3>
                                <textarea name="plans" id="plans" cols="30" rows="10"></textarea>
                            </div>
                            <h2>Name Two referees with complete contact details</h2>
                            <div class="form-group">
                                <h3 for="refer-1">First</h3>
                                <input type="text" name="refer-1-name" id="refer-1-name" class="form-control"
                                    placeholder="Enter Name, Contact & Address" required>
                            </div>
                            <div class="form-group">
                                <h3 for="refer-2">Second</h3>
                                <input type="txt" name="refer-2" id="refer-2-name" class="form-control"
                                    placeholder="Enter Name, Contact & Address" required>
                            </div>
                            <h2>Any Other Information:</h2>
                            <div class="form-group">
                                <h3 for="o-info">Feedback/Request/Others:</h3>
                                <textarea name="o-info" id="o-info" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="new_btn submit-btn">
                            <button type="submit" class="btn">Save Details</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="job-content-3">
                <div class="heading">
                    <h1>Final Step: Print Your Application Details</h1>
                </div>
                <div class="preview">
                    <h2> 📄document preview.pdf </h2>
                </div>
                <div class="new_btn submit-btn">
                    <button type="print" class="btn">Print Application</button>
                </div>
            </div>
        </div>
    </section>


</body>

</html>