<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title>Student Login</title>

    <link
      rel="stylesheet"
      href="/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css\page-css\login-page.css" />

    <script defer type="text/javascript" src="/js/login-page.js"></script>
  </head>

  <body>
    <section class="login-page">
      <div class="login-container">
        <div class="header-div">
          <img src="/assets/square-logo.png" alt="college" />
        </div>
        <div class="content-div">
          <div class="title">
            <h1>Search for Student Profile</h1>
          </div>
          <div class="form-div">
            <form id="loginForm" method="post">
              <div class="form-group">
                <h3 for="username">Institute Email</h3>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  placeholder="Enter Username"
                  required
                />
              </div>
              <div class="form-group">
                <h3 for="password">D.O.B (DDMMYYYY)</h3>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="Enter Password"
                  required
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn">Get Profile</button>
              </div>
            </form>
          </div>
        </div>
        <div class="content-div">
          <div class="title">
            <h1>Submit Student Profile</h1>
          </div>
          <div class="form-div">
            <form id="registerForm" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  placeholder="Enter Name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Institute Email</label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Enter Email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password-1">D.O.B (DDMMYYYY)</label>
                <input
                  type="password"
                  name="password"
                  id="password-1"
                  class="form-control"
                  placeholder="Enter Password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="branch">Branch</label>
                <input
                  type="text"
                  name="branch"
                  id="branch"
                  class="form-control"
                  placeholder="Enter Branch"
                  required
                />
              </div>
              <div class="form-group">
                <label for="roll">Roll No.</label>
                <input
                  type="text"
                  name="roll"
                  id="roll"
                  class="form-control"
                  placeholder="Enter Roll No."
                  required
                />
              </div>
              <div class="form-group">
                <label for="cgpa">CGPA</label>
                <input
                  type="text"
                  name="cgpa"
                  id="cgpa"
                  class="form-control"
                  placeholder="Enter CGPA"
                  required
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone No.</label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  class="form-control"
                  placeholder="Enter Contact No."
                  required
                />
              </div>
              <div class="form-group">
                <label for="=linkedin">LinkedIn Link</label>
                <input
                  type="text"
                  name="linkedin"
                  id="=linkedin"
                  class="form-control"
                  placeholder="Enter LinkedIn Profile Link"
                  required
                />
              </div>
              <div class="form-group">
                <label for="github">GitHub</label>
                <input
                  type="text"
                  name="github"
                  id="github"
                  class="form-control"
                  placeholder="Enter GitHub Profile Link"
                  required
                />
              </div>
              <div class="form-group">
                <label for="profilePic">Profile Pic</label>
                <input
                  type="file"
                  name="profilePic"
                  id="profilePic"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="resume">Resume</label>
                <input
                  type="file"
                  name="resume"
                  id="resume"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn">Submit Profile</button>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-div">
          <div class="buttons-l">
            <a href="#" id="subprof" class="btn">Submit your Profile</a>
          </div>
          <div class="buttons-l">
            <a href="/" class="btn">Need Help?</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
