<nav class="navbar">
  <div
    class="nav-logo"
    onclick="window.location.href='https://www.iiitbh.ac.in/';"
  >
    <img src="/assets/new-logo.png" alt="college" />
  </div>
  <div class="nav-list">
    <div class="nav-item">
      <a href="/">Home</a>
    </div>
    <div class="nav-item">
      <div class="dropdown" id="inst1">
        <a href="/institute">About</a>
      </div>
      <div class="nav-dropdown">
        <div class="nav-drop-item">Virtual Tour</div>
        <div class="nav-drop-item">MOUs</div>
        <div class="nav-drop-item">Why IIITBH ?</div>
        <div class="nav-drop-item">Activities</div>
      </div>
    </div>
    <div class="nav-item">
      <div class="dropdown" id="recruit1">
        <a href="/forRecruiters">For Recruiters</a>
      </div>
      <div class="nav-dropdown">
        <div class="nav-drop-item">Faculties</div>
        <div class="nav-drop-item">Demographics</div>
        <div class="nav-drop-item">Placement Process</div>
        <div class="nav-drop-item">Representatitive</div>
      </div>
    </div>
    <div class="nav-item">
      <div class="dropdown" id="people1">
        <a href="./contact">People</a>
      </div>
      <div class="nav-dropdown">
        <div class="nav-drop-item">Officers</div>
        <div class="nav-drop-item">Faculties</div>
        <div class="nav-drop-item">Coordinators</div>
        <div class="nav-drop-item">Staffs</div>
      </div>
    </div>
    <div class="nav-item">
      <a href="https://iiitbh.pod.ai/" target="_blank">Placement portal</a>
    </div>
  </div>
  <div class="hamburger">
    <img class="burger" src="/assets\hamburger.svg" alt="hamburger" />
    <div class="menu">
      <div class="menu-items">
        <div class="phonenav">
          <div class="menu-item">
            <a href="/">Home</a>
          </div>
          <div class="menu-item" id="inst1">
            <a href="/institute">About</a>
          </div>
          <div class="menu-item" id="recruit1">
            <a href="/forRecuiters">For Recruiters</a>
          </div>
          <div class="menu-item" id="people1">
            <a href="/contact">People</a>
          </div>
          <div class="menu-item">
            <a href="https://iiitbh.pod.ai/">Placement portal</a>
          </div>
          <div class="menu-item" onclick="window.open('/profile','_target');">
            Student Profile
          </div>
          <div
            class="menu-item"
            onclick="window.open('/admin','_target');"
          >
            Admin Center
          </div>
          <div class="menu-item">Help</div>
        </div>
        <div class="pcnav">
          <div class="menu-item" onclick="window.open('/profile','_target');">
            Student Profile
          </div>
          <div
            class="menu-item"
            onclick="window.open('/admin','_target');"
          >
            Admin Center
          </div>
          <div class="menu-item">Help</div>
        </div>
      </div>
      <img class="cross" src="/assets\cross.svg" alt="cross" />
    </div>
  </div>
</nav>
<script src="/js/nav.js"></script>
