<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/fevicon.svg" />

    <link rel="stylesheet" href="/fontawesome-free-6.1.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css\page-css\public-page.css" />

    <script defer type="text/javascript" src="/js/public-profile.js"></script>
  </head>

  <body>
    <section class="student-page">
      <div class="out-container">
        <div class="mob-nav-div">
          <div class="back-button share">
            <!-- <a href="#">Share</a> -->
          </div>
          <div class="institute-logo">
            <img src="/assets/tnp-logo.svg" alt="logo" />
          </div>
        </div>
        <div class="side-container">
          <div class="profile">
            <div class="center-container">
              <div class="profile-img">
                <img
                  src="/assets/blank-profile-picture-973460.svg"
                  alt="img"
                  id="profile-pic"
                />
              </div>
            </div>
            <div class="profile-name">
              <h3>
                <span class="name"></span>
              </h3>
              <p>
                Branch:
                <span>
                  <span class="branch"></span>
                </span>
              </p>
              <p>
                Roll:
                <span>
                  <span class="roll"></span>
                </span>
              </p>
              <p>
                Cgpa:
                <span>
                  <span class="cgpa"></span>
                </span>
              </p>
            </div>
          </div>
          <div class="contact-info">
            <div class="contact-item">
              <h3>Contact:</h3>
              <i class="fa fa-phone"></i>
              <p>
                <span class="phone"></span>
              </p>
              <i class="fa fa-envelope"></i>
              <p>
                <span class="email"></span>
              </p>
            </div>
          </div>
          <div class="social-bar">
            <h3>Other Profiles:</h3>
            <div class="social-item" id="linkedin">
              <!-- <a href="<%#=result.linkedin%>"><i class="fa fa-linkedin"></i> LinkedIn</a> -->
            </div>
            <div class="social-item" id="github">
              <!-- <a href="<%#=result.github%>"><i class="fa fa-github"></i> GitHub</a> -->
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="top-div">
            <div class="back-button share">
              <!-- <a href="#">Share</a> -->
            </div>
            <div class="institute-logo">
              <img src="/assets/tnp-logo.svg" alt="" />
            </div>
          </div>
          <div class="bottom-div">
            <div class="resume">
              <!-- attach resume preview here -->
              <!-- <iframe
                        src="data:application/<%#=result.resume.contentType%>;base64,<%#=result.resume.data.toString('base64')%>#toolbar=0&view=fill"
                        scrolling="no" frameborder="0" seamless="seamless" id="profile">
                    </iframe> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
