<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="http://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="http://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="http://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="http://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <title>Stats | Training & Placement Cell</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/fevicon.svg"
    />

    <link
      rel="stylesheet"
      href="/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css\main.css" />
    <link rel="stylesheet" href="/css\page-css\for-recruiters.css" />

    <script defer type="text/javascript" src="/js/stats.js"></script>
    <script defer type="text/javascript" src="./js/main.js"></script>
  </head>

  <body>
    <%-include("./nav.ejs")%>
    <section class="recruiters">
      <div class="container-fr">
        <div class="main-container fade">
          <div class="heading">
            <h1>Placement Statistics: 2023 Batch</h1>
          </div>
          <div class="content-fr">
            <div class="card">
              <img src="/assets/placement-details_23.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-container fade">
          <div class="heading">
            <h1>Placement Statistics: 2022 Batch</h1>
          </div>
          <div class="content-fr">
            <div class="card">
              <img src="/assets/placement-details_22.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-container fade">
          <div class="heading">
            <h1>Placement Statistics: 2021 Batch</h1>
          </div>
          <div class="content-fr">
            <div class="card">
              <img src="/assets/placement-details_21.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-container fade">
          <div class="heading">
            <h1>Student Coordinators:</h1>
            <p>
              Training and placement cell (TPC) of the institute handles all
              aspects of placements at IIIT Bhagalpur for the graduating
              students of all departments.
            </p>
          </div>
          <div class="content-fr">
            <div class="team-section">
              <div class="team-grid">
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/Sohail.svg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Sohail Khan</h3>
                    <p>ECE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+9194859450485"> +91 94859450485</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:sohail.ece.1970@iiitbh.ac.in">
                        sohail.ece.1970@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Shiva Patel.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Shiva Patel</h3>
                    <p>CSE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+917080176843"> +91 7080176843</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:shiva.cse.1963@iiitbh.ac.in
                                      "
                      >
                        shiva.cse.1963@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Rishabh Agrawal.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Rishabh Agrawal</h3>
                    <p>CSE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919528303487"> +91 9528303487</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:rishabh.cse.1954@iiitbh.ac.in
                                      "
                      >
                        rishabh.cse.1954@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Isha Chaudhary.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Isha Chaudhary</h3>
                    <p>MEA | MTECH 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+916204574448"> +91 6204574448</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:isha.mea.2102013@iiitbh.ac.in
                                      "
                      >
                        isha.mea.2102013@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Divya Bhattacharya.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Dibya Bhattacharya</h3>
                    <p>ECE | MTECH 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+918287140239"> +91 8287140239</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:dibya.ece.2102010@iiitbh.ac.in
                                      "
                      >
                        dibya.ece.2102010@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Tarun Kannaojia.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Tarun Kannoujia</h3>
                    <p>MEA | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+918290040908"> +91 8290040908</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:tarun.mea.1974@iiitbh.ac.in
                                      "
                      >
                        tarun.mea.1974@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/Sumanth.jpeg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>ADARI SAI SUMANTH</h3>
                    <p>ECE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+917981839178"> +91 7981839178</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:adari.ece.1904@iiitbh.ac.in
                                      "
                      >
                        adari.ece.1904@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Rishabh Hanselia.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Rishabh Hanselia</h3>
                    <p>CSE | MTECH 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+917600634563"> +91 7600634563</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:rishab.cse.2102020@iiitbh.ac.in
                                      "
                      >
                        rishab.cse.2102020@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets\prem.jpg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Prem Kumar</h3>
                    <p>CSE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919470678079"> +91 9470678079</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:prem.cse.20011@iiitbh.ac.in">
                        prem.cse.20011@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets\prateek.jpg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Prateek Chandra</h3>
                    <p>ECE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919431796788"> +91 9431796788</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:prateek.ece.20035@iiitbh.ac.in">
                        prateek.ece.20035@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/harshit sharma.jpeg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Harshit Sharma</h3>
                    <p>CSE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919318359813"> +91 9318359813</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:harshit.cse.20012@iiitbh.ac.in">
                        harshit.cse.20012@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/harshit pandey.jpeg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Harshit Pandey</h3>
                    <p>ECE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919431907914"> +91 9431907914</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:harshit.ece.20069@iiitbh.ac.in">
                        harshit.ece.20069@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/rajiv.jpeg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Rajiv Ranjan</h3>
                    <p>MeA | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919608792801"> +91 9608792801</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:rajiv.mea.20096@iiitbh.ac.in">
                        rajiv.mea.20096@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/saurabh.JPG" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Saurabh Kumar</h3>
                    <p>Mea | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+918763031930"> +91 8763031930</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:saurabh.mea.20102@iiitbh.ac.in">
                        saurabh.mea.20102@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="side-container">
          <div class="side-div-up">
            <div class="button" id="placement">
              <a href="#">Batch 2023</a>
            </div>
            <div class="button active-button" id="facilities">
              <a href="#">Batch 2022</a>
            </div>
            <div class="button" id="demographics">
              <a href="#">Batch 2021</a>
            </div>
            <div class="button" id="representatives">
              <a href="#">Coordinators</a>
            </div>
          </div>
          <div class="side-div-mid">
            <h2>Register for recruitment from IIIT Bhagalpur</h2>
            <div class="register-btn">
              <a href="#">Register now</a>
            </div>
          </div>
          <div class="side-div-down">
            <div class="contact-info">
              <h3>Contact Us:</h3>
              <p>
                <i class="fa-solid fa-map-marker"></i>
                <span> IIIT Bhagalpur campus, sabour, Bhagalpur 813210.</span>
              </p>
              <p>
                <i class="fa-solid fa-phone"></i>
                <span> +91-95899-95899</span>
              </p>
              <p>
                <i class="fa-solid fa-envelope"></i>
                <span> tpo@iiitbh.ac.in</span>
              </p>
            </div>

            <div class="map-embed">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.4829401286493!2d87.04220291493483!3d25.25433468386963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f0481fd7d50f6d%3A0xbe75d3ff73e0373e!2sIndian%20Institute%20of%20Information%20Technology%20Bhagalpur!5e0!3m2!1sen!2sin!4v1653890664295!5m2!1sen!2sin"
                width="100%"
                height="100%"
                frameborder="0"
                style="border: 0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="container-mobile">
        <div class="side-container">
          <div class="side-div-up">
            <div class="button" id="placement1">
              <a href="#">Batch 2023</a>
            </div>
            <div class="button active-button" id="facilities1">
              <a href="#">Batch 2022</a>
            </div>
            <div class="button" id="demographics1">
              <a href="#">Batch 2021</a>
            </div>
            <div class="button" id="representatives1">
              <a href="#">Coordinators</a>
            </div>
          </div>
        </div>
        <div class="main-container-mb fade">
          <div class="heading">
            <h1>Placement Statistics: 2023 Batch</h1>
          </div>
          <div class="content-fr">
            <div class="card">
              <img src="/assets/placement-details_23.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-container-mb fade">
          <div class="heading">
            <h1>Placement Statistics: 2022 Batch</h1>
          </div>
          <div class="content-fr">
            <div class="card">
              <img src="/assets/placement-details_22.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-container-mb fade">
          <div class="heading">
            <h1>Placement Statistics: 2021 Batch</h1>
          </div>
          <div class="content-fr">
            <div class="card">
              <img src="/assets/placement-details_21.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main-container-mb fade">
          <div class="heading">
            <h1>Student Coordinators:</h1>
            <p>
              Training and placement cell (TPC) of the institute handles all
              aspects of placements at IIIT Bhagalpur for the graduating
              students of all departments.
            </p>
          </div>
          <div class="content-fr">
            <div class="team-section">
              <div class="team-grid">
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/Sohail.svg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Sohail Khan</h3>
                    <p>ECE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+9194859450485"> +91 94859450485</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:sohail.ece.1970@iiitbh.ac.in">
                        sohail.ece.1970@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Shiva Patel.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Shiva Patel</h3>
                    <p>CSE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+917080176843"> +91 7080176843</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:shiva.cse.1963@iiitbh.ac.in
                                      "
                      >
                        shiva.cse.1963@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Rishabh Agrawal.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Rishabh Agrawal</h3>
                    <p>CSE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919528303487"> +91 9528303487</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:rishabh.cse.1954@iiitbh.ac.in
                                      "
                      >
                        rishabh.cse.1954@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Isha Chaudhary.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Isha Chaudhary</h3>
                    <p>MEA | MTECH 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+916204574448"> +91 6204574448</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:isha.mea.2102013@iiitbh.ac.in
                                      "
                      >
                        isha.mea.2102013@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Divya Bhattacharya.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Dibya Bhattacharya</h3>
                    <p>ECE | MTECH 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+918287140239"> +91 8287140239</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:dibya.ece.2102010@iiitbh.ac.in
                                      "
                      >
                        dibya.ece.2102010@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Tarun Kannaojia.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Tarun Kannoujia</h3>
                    <p>MEA | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+918290040908"> +91 8290040908</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:tarun.mea.1974@iiitbh.ac.in
                                      "
                      >
                        tarun.mea.1974@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/Sumanth.jpeg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>ADARI SAI SUMANTH</h3>
                    <p>ECE | 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+917981839178"> +91 7981839178</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:adari.ece.1904@iiitbh.ac.in
                                      "
                      >
                        adari.ece.1904@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/Rishabh Hanselia.svg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Rishabh Hanselia</h3>
                    <p>CSE | MTECH 2023 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+917600634563"> +91 7600634563</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a
                        href="mailto:rishab.cse.2102020@iiitbh.ac.in
                                      "
                      >
                        rishab.cse.2102020@iiitbh.ac.in
                      </a>
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets\prem.jpg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Prem Kumar</h3>
                    <p>CSE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919470678079"> +91 9470678079</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:prem.cse.20011@iiitbh.ac.in">
                        prem.cse.20011@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets\prateek.jpg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Prateek Chandra</h3>
                    <p>ECE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919431796788"> +91 9431796788</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:prateek.ece.20035@iiitbh.ac.in">
                        prateek.ece.20035@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/harshit sharma.jpeg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Harshit Sharma</h3>
                    <p>CSE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919318359813"> +91 9318359813</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:harshit.cse.20012@iiitbh.ac.in">
                        harshit.cse.20012@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img
                      src="/assets/harshit pandey.jpeg"
                      alt="card image"
                    />
                  </div>
                  <div class="card-content">
                    <h3>Harshit Pandey</h3>
                    <p>ECE | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919431907914"> +91 9431907914</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:harshit.ece.20069@iiitbh.ac.in">
                        harshit.ece.20069@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/rajiv.jpeg" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Rajiv Ranjan</h3>
                    <p>MeA | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+919608792801"> +91 9608792801</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:rajiv.mea.20096@iiitbh.ac.in">
                        rajiv.mea.20096@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
                <div class="team-card">
                  <div class="card-img">
                    <img src="/assets/saurabh.JPG" alt="card image" />
                  </div>
                  <div class="card-content">
                    <h3>Saurabh Kumar</h3>
                    <p>Mea | 2024 Batch</p>
                    <p>
                      <i class="fa-solid fa-phone"></i
                      ><a href="tel:+918763031930"> +91 8763031930</a>
                    </p>
                    <p>
                      <i class="fa-solid fa-envelope"></i
                      ><a href="mailto:saurabh.mea.20102@iiitbh.ac.in">
                        saurabh.mea.20102@iiitbh.ac.in</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="side-container">
          <div class="side-div-mid">
            <h2>Register for recruitment from IIIT Bhagalpur</h2>
            <div class="register-btn">
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdRZ-iuB3lRfJKCPU2DpH0ZRSEjAbDZNidt9bgTa51g0fS3pg/viewform"
                >Register now</a
              >
            </div>
          </div>
          <div class="side-div-down">
            <div class="contact-info">
              <h3>Contact Us:</h3>
              <p>
                <i class="fa-solid fa-map-marker"></i>
                <span> IIIT Bhagalpur campus, sabour, Bhagalpur 813210.</span>
              </p>
              <p>
                <i class="fa-solid fa-phone"></i>
                <a href="tel:+918962541634"> +91-8962541634</a>
              </p>
              <p>
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:tpo@iiitbh.ac.in"> tpo@iiitbh.ac.in</a>
              </p>
            </div>
            <div class="map-embed">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.4829401286493!2d87.04220291493483!3d25.25433468386963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f0481fd7d50f6d%3A0xbe75d3ff73e0373e!2sIndian%20Institute%20of%20Information%20Technology%20Bhagalpur!5e0!3m2!1sen!2sin!4v1653890664295!5m2!1sen!2sin"
                width="100%"
                height="100%"
                frameborder="0"
                style="border: 0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%-include("./footer.ejs")%>
  </body>
</html>
