<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-88FK0NC77G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88FK0NC77G");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training & Placement Cell | IIIT Bhagalpur</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/fevicon.svg"
    />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets\page-css\visitors.css" />
    <link
      rel="stylesheet"
      href="/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <meta
      name="keywords"
      content="IIITBH, TnP IIITBH, Training and Placement Cell IIITBH, Indian Institute of Information Technology, Bhagalpur"
    />
    <meta
      name="description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />
    <meta name="subject" content="Training and Placement Cell, IIITBH" />
    <meta
      name="copyright"
      content="Indian Institute of Information Technology, Bhagalpur"
    />
    <meta name="language" content="ES" />
    <meta name="robots" content="index,follow" />
    <meta name="revised" content="Monday, August 15th, 2022, 9:40 pm" />
    <meta name="Classification" content="Education" />
    <meta name="author" content="TPO, IIITBH, tpo@iiitbh.ac.in" />
    <meta name="designer" content="Prem Kumar & Prateek Chandra" />
    <meta name="reply-to" content="tnp_fic@iiitbh.ac.in" />
    <meta name="owner" content="TPO, IIITBH" />
    <meta name="url" content="https://tnp.iiitbh.ac.in" />
    <meta name="identifier-URL" content="https://tnp.iiitbh.ac.in" />
    <meta name="directory" content="submission" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="og:title"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta name="og:type" content="Education" />
    <meta name="og:url" content="https://tnp.iiitbh.ac.in" />
    <meta
      name="og:image"
      content="https://tnp.iiitbh.ac.in/assets/fevicon.svg"
    />
    <meta
      name="og:site_name"
      content="Training and Placement Cell, IIIT Bhagalpur"
    />
    <meta
      name="og:description"
      content="The training and placement cell is responsible for all the placement activities of all the departments of the institute. The placement activity of the institute is conducted at IIIT Bhagalpur Campus."
    />

    <meta name="og:email" content="tpo@iiitbh.ac.in" />
    <meta name="og:locality" content="Sabour" />
    <meta name="og:region" content="Bhagalpur" />
    <meta name="og:postal-code" content="813210" />
    <meta name="og:country-name" content="INDIA" />
    <script defer type="text/javascript" src="/js/main.js"></script>
  </head>

  <body>
    <%-include("./nav.ejs")%>
    <section class="Recruiters">
      <div class="container-v">
        <div class="details">
          <div class="heading">
            <div class="heading-content">
              <h2>Overview:</h2>
              <p>
                The Institute aims to bring transformation to every individual's
                life, Education brings change to your career and so does IIIT
                Bhagalpur. We here at IIIT Bhagalpur insert cultural value in
                you and become a new you. We want to generate professionals in
                the field of information technology and thus contribute to the
                development of our nation.
              </p>
            </div>
          </div>
          <div class="company-logos">
            <div class="title">
              <h3>Our proud Recruiters</h3>
            </div>
            <div class="logo-grid">
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"30 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/amazon.svg" alt="Amazon" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"46 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/microsoft.svg" alt="Microsoft" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"19 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/Synopsys.svg" alt="Synopsys" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"14 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/nykaa.svg" alt="nykaa" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"30 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/mediadotnet.svg" alt="Media.net" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"36 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/codenation.svg" alt="Trilogy" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/jio.svg" alt="Jio" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/tata.svg" alt="Tata" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/intuit.svg" alt="Intuit" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/ibm.svg" alt="IBM" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/publicis.svg" alt="Publicis" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/infosys.svg" alt="Infosys" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img
                    src="/assets/techolution.svg"
                    alt="Techolution"
                  />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"24 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/vahan.svg" alt="Vahan" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"12.5 lpa"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/Samsung.svg" alt="Samsung" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/deloitte.svg" alt="Deloitte" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/toothsi.svg" alt="toothsi" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img
                    src="/assets/ni.svg"
                    alt="National Instruments"
                  />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img src="/assets/practo.svg" alt="Practo" />
                </div>
              </div>
              <div class="grid-item">
                <div class="overlay">
                  <div class="overlay-content">
                    <h5>Package Offered: <span>"N/A"</span></h5>
                  </div>
                </div>
                <div class="grid-item-img">
                  <img
                    src="/assets/mac_software.svg"
                    alt="Mac Software"
                  />
                </div>
              </div>
            </div>
            <div class="title-line">
              <!-- for drawing line -->
            </div>
            <div class="logo-grid-acad">
              <div class="grid-item-acad">
                <div class="grid-item-acad-img">
                  <img src="/assets/iit-bhu.svg" alt="IIT BHU" />
                </div>
              </div>
              <div class="grid-item-acad">
                <div class="grid-item-acad-img">
                  <img src="/assets/iiit-r.svg" alt="IITR" />
                </div>
              </div>
              <div class="grid-item-acad">
                <div class="grid-item-acad-img">
                  <img src="/assets/iit-k.svg" alt="IITK" />
                </div>
              </div>
              <div class="grid-item-acad">
                <div class="grid-item-acad-img">
                  <img src="/assets/cdac.svg" alt="CDAC" />
                </div>
              </div>
              <div class="grid-item-acad">
                <div class="grid-item-acad-img">
                  <img src="/assets/iit-j.svg" alt="IITJ" />
                </div>
              </div>
              <div class="grid-item-acad">
                <div class="grid-item-acad-img">
                  <img src="/assets/iit-m.svg" alt="IITM" />
                </div>
              </div>
            </div>
            <div class="title-line">
              <!-- for drawing line -->
            </div>
            <div class="logo-grid-all">
              <div class="grid-all-list">
                <div class="column-list">
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>#</h2>
                    </div>
                    <div class="company-names">
                      <h4>314e IT Solutions India Pvt. Ltd</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>A</h2>
                    </div>
                    <div class="company-names">
                      <h4>Affluence Systems</h4>
                      <h4>Amazon</h4>
                      <h4>Ambient Scientific</h4>
                      <h4>Ather Energy</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>B</h2>
                    </div>
                    <div class="company-names">
                      <h4>Betsol</h4>
                      <h4>Brane Enterprises(NSL Hub)</h4>
                      <h4>BYJU'S</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>C</h2>
                    </div>
                    <div class="company-names">
                      <h4>Cactus Communications</h4>
                      <h4>Capgemini</h4>
                      <h4>Cepton</h4>
                      <h4>CGI</h4>
                      <h4>Chalo</h4>
                      <h4>Cimpress</h4>
                      <h4>CINIF Technologies</h4>
                      <h4>Cloud Analogy</h4>
                      <h4>Cloudlex</h4>
                      <h4>Cognizant</h4>
                      <h4>Cogoport</h4>
                      <h4>Commvault</h4>
                      <h4>Comscore</h4>
                      <h4>Conde Nast</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>D</h2>
                    </div>
                    <div class="company-names">
                      <h4>Deloitte</h4>
                      <h4>Digite Infotech</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>E</h2>
                    </div>
                    <div class="company-names">
                      <h4>EasyEat</h4>
                      <h4>Enpass Technologies Pvt Ltd</h4>
                      <h4>Ericsson</h4>
                      <h4>Exotel</h4>
                      <h4>Extramarks Education India Pvt Ltd</h4>
                    </div>
                  </div>
                </div>
                <div class="column-list">
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>F</h2>
                    </div>
                    <div class="company-names">
                      <h4>Falkonry</h4>
                      <h4>Fareportal</h4>
                      <h4>FIS Global</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>G</h2>
                    </div>
                    <div class="company-names">
                      <h4>GeeksforGeeks</h4>
                      <h4>Grab</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>H</h2>
                    </div>
                    <div class="company-names">
                      <h4>Hanu</h4>
                      <h4>HCL</h4>
                      <h4>HealthCloudAI(Arintra)</h4>
                      <h4>Hummit</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>I</h2>
                    </div>
                    <div class="company-names">
                      <h4>IBM</h4>
                      <h4>Impetus</h4>
                      <h4>India Mart</h4>
                      <h4>IndoOS</h4>
                      <h4>Infoedge (Naukri.com)</h4>
                      <h4>infoobjects</h4>
                      <h4>Infosys</h4>
                      <h4>Ingenuity Gaming Pvt Ltd</h4>
                      <h4>Innominds</h4>
                      <h4>Intuit</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>J</h2>
                    </div>
                    <div class="company-names">
                      <h4>Jio Platforms Limited</h4>
                      <h4>Josh technology</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>K</h2>
                    </div>
                    <div class="company-names">
                      <h4>Kaar Technology</h4>
                      <h4>Kickstart</h4>
                    </div>
                  </div>
                </div>
                <div class="column-list">
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>L</h2>
                    </div>
                    <div class="company-names">
                      <h4>Lentra.ai</h4>
                      <h4>LnT</h4>
                      <h4>LTI</h4>
                      <h4>Lumiq</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>M</h2>
                    </div>
                    <div class="company-names">
                      <h4>MAQ Software</h4>
                      <h4>Maventic</h4>
                      <h4>Media.net</h4>
                      <h4>Microsoft</h4>
                      <h4>Miles education</h4>
                      <h4>Mitsogo</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>N</h2>
                    </div>
                    <div class="company-names">
                      <h4>Nagarro Software</h4>
                      <h4>National Instruments</h4>
                      <h4>NVIDIA</h4>
                      <h4>NYKAA Fashion</h4>
                    </div>
                  </div>
                  <!-- <div class="grid-all-item">
                                    <div class="alpha-title">
                                        <h2>O</h2>
                                    </div>
                                    
                                </div> -->
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>P</h2>
                    </div>
                    <div class="company-names">
                      <h4>Pindexx</h4>
                      <h4>Planet Spark</h4>
                      <h4>Practo Technologies</h4>
                      <h4>Publicis Sapient</h4>
                    </div>
                  </div>
                  <!-- <div class="grid-all-item">
                                    <div class="alpha-title">
                                        <h2>P</h2>
                                    </div>
                                    
                                </div> -->
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>R</h2>
                    </div>
                    <div class="company-names">
                      <h4>RAPS iTech</h4>
                      <h4>Read India Grow India</h4>
                      <h4>Ritwik Software</h4>
                      <h4>RXN Electric</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>S</h2>
                    </div>
                    <div class="company-names">
                      <h4>Samsung</h4>
                      <h4>Samsung SDS</h4>
                      <h4>Sandvine Technologies</h4>
                      <h4>SpringML</h4>
                      <h4>Synapse Design</h4>
                      <h4>Synopsys</h4>
                    </div>
                  </div>
                </div>
                <div class="column-list">
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>T</h2>
                    </div>
                    <div class="comapny-names">
                      <h4>TCS</h4>
                      <h4>Techolution</h4>
                      <h4>Thales Group</h4>
                      <h4>Thrillophilia</h4>
                      <h4>ToothSi</h4>
                      <h4>Tredance</h4>
                      <h4>Trilogy</h4>
                      <h4>Trip Stack</h4>
                      <h4>Truckx</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>U</h2>
                    </div>
                    <div class="company-names">
                      <h4>upGrad</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>V</h2>
                    </div>
                    <div class="company-names">
                      <h4>Vahan</h4>
                      <h4>Valuefy</h4>
                      <h4>Vassar Labs</h4>
                      <h4>Virtusa</h4>
                      <h4>Vyom Labs</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>W</h2>
                    </div>
                    <div class="company-names">
                      <h4>Wiley-mthree</h4>
                      <h4>Wissen Technologies</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>X</h2>
                    </div>
                    <div class="company-names">
                      <h4>Xceedance</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>Y</h2>
                    </div>
                    <div class="company-names">
                      <h4>Yash</h4>
                      <h4>Yellow Class</h4>
                    </div>
                  </div>
                  <div class="grid-all-item">
                    <div class="alpha-title">
                      <h2>Z</h2>
                    </div>
                    <div class="company-names">
                      <h4>Zensar</h4>
                      <h4>ZS Associates</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%-include("./footer.ejs")%>
  </body>
</html>
