/* .users,.card1-new,.announcement .container {
  background: rgb(255, 105, 35);
  background: linear-gradient(
    150deg,
    rgba(255, 105, 35, 1) 0%,
    rgba(246, 199, 177, 1) 24%,
    rgba(254, 250, 248, 1) 39%,
    rgba(255, 255, 255, 1) 45%,
    rgba(246, 251, 248, 1) 52%,
    rgba(193, 230, 204, 1) 66%,
    rgba(42, 238, 103, 1) 90%
  );
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

input {
  text-transform: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.after-load {
  display: block;
}

.loader {
  /* margin: 0; */
  display: flex;
  /* background-color: #f1f1f1; */
  width: 100%;
  /* background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(114, 198, 232, 0) calc(15% + 100px),
    rgba(26, 103, 133, 0) calc(85% + 100px),
    rgba(68, 68, 68, 0.15) 100%
  ); */
}

.loader .container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loader .container .rotator {
  width: 10%;
  margin: 2px;
  border: 1px solid #000;
  border-radius: 50%;
}

.loader .container .rotator .rotate {
  width: 20%;
  color: #003f53;
}

/* .loader div > div {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
  margin: 1vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}

.loader .yellow {
  background-color: #f25022;
}

.loader .red {
  background-color: #7fba00;
  animation-delay: 0.15s;
}

.loader .blue {
  background-color: #00a4ef;
  animation-delay: 0.30s;
}

.loader .violet {
  background-color: #ffb900;
  animation-delay: 0.45s;
} */

/* @keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
} */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Arial";
  color: #4e4e4e;
  font-weight: 400;
}

.nav-logo {
  margin: 1%;
  width: 25%;
}

.nav-logo img {
  padding: 0 10px;
  width: 100%;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  margin-left: 10%;
  padding: 1.5% 0;
  font-size: 16px;
}

.nav-item {
  margin-left: 1%;
  margin-right: 1%;
  min-width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav-item a {
  color: #4e4e4e;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
}

.dropdown {
  width: 100%;
}

.nav-dropdown {
  display: none;
  position: absolute;
  top: 7%;
  z-index: 10;
  background-color: #fff;
  padding: 1% 2%;
  border-radius: 15px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
}

.nav-drop-item {
  margin: 5% auto;
  text-align: justify;
}

.hamburger {
  position: absolute;
  right: 1%;
  top: 3%;
  display: inline-block;
}

.hamburger img {
  width: 50px;
  padding: 5px 10px;
}

.hamburger .menu {
  display: none;
  position: absolute;
  right: 1%;
  z-index: 20;
  width: 22vw;
  height: 30vh;
  background-color: #fff;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  border-radius: 20px 0 20px 20px;
  align-items: flex-start;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2% 8%;
}

.menu-item {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  border-radius: 50px;
}

.menu-item:hover,
.burger:hover,
.cross:hover {
  cursor: pointer;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 2px 4px 20px 10px rgba(89, 89, 89, 0.2);
  background-color: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9bd43;
  border-radius: 40px;
}

.container-b {
  padding: 0 5%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 2% 0;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-right: 3%;
  font-family: "Arial";
  color: #4e4e4e;
}

.text-1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1%;
}

.text-2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2%;
}

.text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.users {
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  padding: 3%;
  border-radius: 20px;
  height: 40vh;
  margin-top: 5%;
}

.options {
  font-size: 25px;
  display: flex;
  text-align: center;
  margin-top: 2%;
}

.options span {
  width: 110px;
}

.options span:hover {
  cursor: pointer;
}

.active-option::after {
  content: "";
  background-color: rgb(0, 111, 128);
  width: 115px;
  height: 3px;
  position: absolute;
  display: flex;
  flex-direction: column;
  animation: fade 1s ease-in-out;
}

#recruit {
  margin-right: 2%;
}

.recruit {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.recruit-txt {
  font-size: 22px;
}

.recruit-btns {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
}

.register {
  outline: none;
  border: 2px solid #e9bd43;
  background-color: #e9bd43;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 2% 5%;
  border-radius: 30px;
  margin-right: 4%;
  font-size: 22px;
  color: #fff;
}

.register:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e9bd43;
}

.rst {
  outline: none;
  border: 2px solid #e9bd43;
  background-color: #e9bd43;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 5% 5%;
  border-radius: 30px;
  margin-bottom: 4%;
  font-size: 22px;
  color: #fff;
}

.rst:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e9bd43;
}

.contact {
  outline: none;
  border: 2px solid #e9bd43;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 2% 5%;
  border-radius: 30px;
  font-size: 22px;
  color: #4e4e4e;
}

.faq {
  outline: none;
  border: 2px solid #e9bd43;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 5% 5%;
  border-radius: 30px;
  font-size: 22px;
}

button:hover {
  cursor: pointer;
}

.students {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.students-btns {
  border-right: 3px solid #000;
  padding-right: 8%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.query-app {
  width: 20%;
}

.query-app img {
  width: 100%;
}

.card1-new,
.card2-new {
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  border-radius: 20px;
  height: 80vh;
  align-items: center;
}

.card1,
.card2 {
  height: calc(80vh - 40px);
  padding: 3%;
  font-family: "Arial";
  color: #414141;
}

.card2-new {
  display: none;
}

.carousel {
  width: 100%;
  height: 38vh;
  margin-bottom: 2%;
}

.carousel-container img:hover {
  cursor: pointer;
}

.carousel-item {
  display: none;
  position: absolute;
  width: 32.5vw;
  height: 35vh;
  animation: slider 3.75s ease-in-out;
}

@keyframes slider {
  0% {
    opacity: 0.05;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.05;
  }
}

.carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.scroller {
  display: flex;
  justify-content: space-between;
  top: 45%;
  position: relative;
  z-index: 10;
  height: 10%;
}

.left-btn,
.right-btn {
  background-color: rgb(152, 149, 149);
  border-radius: 50%;
  padding: 1%;
  color: #fff;
}

.pl-stats {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.inner-card {
  box-shadow: 2px 4px 20px 10px rgba(179, 179, 179, 0.2);
  padding: 2%;
  border-radius: 20px;
  height: 30vh;
  width: 100%;
  transition: transform 0.2s;
}

.inner-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 2px 4px 20px 10px rgba(117, 167, 179, 0.31);
}

.inner-card img {
  width: 100%;
  height: 100%;
}

.inner-card:nth-child(1) {
  margin-right: 6%;
}

.flipper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flipper img {
  height: 40px;
  width: auto;
}

.flipper img:hover {
  cursor: pointer;
}

.btn-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4%;
}

.btn-item {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 38px 3%;
  box-shadow: 2px 4px 20px 10px rgba(164, 164, 164, 0.2);
  border-radius: 50px;
}

.btn-item img {
  width: auto;
  height: 30px;
  margin: auto 15px;
}

.btn-item:hover {
  cursor: pointer;
  background-color: #ffd04d;
}

.fade {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.bounce {
  animation: bounce 1s ease-in-out;
}

@keyframes bounce {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.announcement {
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 5%;
  background-color: FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
}

.row-n {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2% 3%;
}

.news,
.event {
  width: calc(50% - 5px);
}

.news h2,
.event h2 {
  text-align: left;
  font-size: 20px;
  font-family: "Arial";
  color: #4e4e4e;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.news a,
.event a {
  text-decoration: none;
  color: #505050;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
}

.news a span,
.event a span {
  text-decoration: inherit;
  color: #b83b01;
  font-weight: 600;
}

.news-content,
.event-content {
  height: 280px;
  overflow: hidden;
}

.news-items:nth-child(1) {
  animation: autoScroll 12s linear infinite;
}

.news-items:nth-child(2) {
  animation: autoScroll1 12s linear infinite;
  animation-delay: 6s;
}

/* .news-items:hover {
  animation-play-state: paused;
} */

.news-item-content,
.event-item-content {
  padding: 10px;
}

@keyframes autoScroll {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes autoScroll1 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-200%);
  }
}

.about {
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 5%;
  background-color: FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
}

.row-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.heading,
.social {
  padding: 5px;
}

.heading h1 {
  text-align: left;
  font-size: 20px;
  font-family: "Arial";
  color: #4e4e4e;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.line-style {
  max-width: 320px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social a {
  font-size: 20px;
  color: #4e4e4e;
  font-weight: 600;
  margin-right: 10px;
}

.row-down {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text,
.image {
  width: calc(50% - 20px);
}

.text {
  white-space: normal;
  word-break: break-word;
  display: flex;
  align-items: center;
}

.text p {
  text-decoration: none;
  color: #505050;
  font-family: "Arial";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  text-align: justify;
}

.image img {
  max-height: 400px;
  width: 100%;
}

.message {
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 5%;
  background-color: FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
}

.row-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.heading,
.social {
  padding: 5px;
}

.heading h1 {
  text-align: left;
  font-size: 20px;
  font-family: "Arial";
  color: #4e4e4e;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.line-style {
  max-width: 320px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social a {
  font-size: 20px;
  color: #4e4e4e;
  font-weight: 600;
  margin-right: 10px;
}

.row-down {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text-d {
  width: calc(60% - 20px);
}

.image-d {
  width: calc(40% - 20px);
  display: flex;
  justify-content: space-around;
}

.text-d {
  white-space: normal;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.text-d p {
  text-decoration: none;
  color: #505050;
  font-family: "Arial";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  text-align: justify;
}

.text-d a {
  text-decoration: none;
  color: #003f53;
  font-family: "Arial";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}

.text-d h3 {
  font-family: "Arial";
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  padding: 10px;
}

.image-d img {
  max-width: 360px;
  padding: 10px;
}

.recuiter {
  padding: 20px 0;
}

.more {
  display: flex;
  align-items: center;
}

.more h2,
.more a {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 77, 107);
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.marquee-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: marquee 20s linear infinite;
}

.marquee-items-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: marquee1 20s linear infinite;
  animation-delay: 10s;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-200%);
  }
}

.marquee-list {
  width: 20vw;
  height: 20vh;
  padding: 2%;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  border-radius: 15px;
  background-color: #fff;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recruit-img {
  max-width: 100%;
  height: auto;
}

/* Student Activities */
.activities {
  width: 100%;
  padding: 3%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.activities .graph {
  width: calc(33% - 10px);
  display: flex;
  justify-content: center;
}

.activities .detail-timeline {
  width: calc(66% - 10px);
}

.timeline-item {
  margin: 2% auto;
}
.timeline-item .name {
  margin-bottom: 1%;
}

.students-acheiv {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e4e4e;
  padding: 20px 0;
}

.graph img {
  width: 300px;
}

.top-bar {
  margin-top: 10px;
  width: 100%;
}

.bottom-bar {
  height: 30px;
  width: 100%;
  border-radius: 60px;
  background-color: #ffff;
  display: flex;
}

.bottom-bar div {
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar div:nth-child(1) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.bottom-bar div:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.bottom-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.color-panel {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.color-panel .color-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.color-detail .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid none;
  margin-right: 2%;
}

.know-more {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 77, 107);
  font-family: Arial, Helvetica, sans-serif;
}

.contact-section {
  padding: 20px 0;
}

.contact-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(153, 153, 153, 0.25);
}

.card-img {
  width: 180px;
  padding: 10px;
}

.card-img img {
  width: 100%;
  height: 100%;
  padding: 10%;
  border-radius: 30px;
}

.card-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  font-family: "Arial";
  color: #4e4e4e;
}

.card-content h3 {
  font-size: 20px;
  font-weight: bold;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card-content h4 {
  font-size: 16px;
  font-weight: bold;
}

.row-down_c {
  margin-top: 40px;
  padding: 30px 0;
}

.connection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image_c {
  align-items: left;
  width: calc(40%);
}

.content_c {
  width: calc(60% - 20px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  font-family: "Arial";
  color: #4e4e4e;
}

.image_c img {
  max-width: 100%;
  border-radius: 0 50px 50px 0;
}

.content_c h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.content_c p {
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 0;
}

.buttons {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons .btn {
  border: none;
  border-radius: 20px;
  background-color: #e9bd43;
  border: #e9bd43 1.5px solid;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.buttons .btn:hover {
  background-color: transparent;
  color: #e9bd43;
}

.container-footer {
  width: 100%;
  background: #fbfbfb;
  box-shadow: 0px -4px 40px 1px rgba(157, 157, 157, 0.2);
  margin-top: 40px;
  font-family: "Arial";
  color: #4e4e4e;
}

.row-top,
.row-bottom {
  padding: 30px 40px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row-top .buttons {
  width: fit-content;
}

.footer .logo img {
  width: 100px;
  height: auto;
}

.row-mid {
  padding: 10px 40px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.newsleters {
  width: calc(40% - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-f {
  margin-bottom: 10px;
}

.newsletters h4 {
  font-family: "Arial";
  color: #4e4e4e;
  font-size: 24px;
}

.newsleters input {
  width: 60%;
  padding: 10px 0;
  border: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 600;
  color: #ffd874;
  background: #ffffff;
  box-shadow: inset 2px 2px 5px 2px rgba(60, 60, 60, 0.25);
}

.newsleters input:focus {
  outline: 2px solid #e9bd43;
}

.newsleters button {
  width: 100px;
  padding: 8px 0;
  border: 2px solid #e9bd43;
  border-radius: 0px 20px 20px 0px;
  background: #e9bd43;
  color: #ffffff;
  font-size: 14px;
  font-family: "Arial";
  box-shadow: #c6c6c6 0px 0px 2px 1px;
  margin-left: -2px;
}

.newsleters button:hover {
  color: #e9bd43;
  border: 2px solid #e9bd43;
  background: #fcfcfc;
}

::placeholder {
  color: #dedede;
  padding-left: 10px;
}

.row-mid .links {
  width: calc(60%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-links ul li {
  list-style: none;
  margin: 0 10px;
}

.credits {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.phonenav {
  display: none;
}

.pcnav {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*----------------------------------*/
/* Responsive: Media Queries*/

@media (max-width: 1350px) {
  .nav-list {
    display: none;
  }

  .nav-logo {
    display: block;
    width: 40%;
  }
  .phonenav {
    display: block;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .phonenav .menu-item {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 2%;
    height: 35px;
  }

  .phonenav .menu-item a {
    color: #4e4e4e;
  }

  .pcnav {
    display: none;
  }

  .hamburger {
    top: 1%;
    right: 1%;
  }
}

@media (max-width: 992px) {
  .container-b .row {
    flex-direction: column-reverse;
  }
  .nav-logo {
    display: block;
    width: 40%;
  }

  .col-2 {
    width: 100%;
    height: auto;
  }

  .carousel-item {
    width: 85%;
  }

  .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 5vh;
  }

  .text-1,
  .text-2,
  .text-3 {
    text-align: center;
  }

  .col-1 h1 {
    font-size: 22px;
  }

  .col-1 .text-3 {
    font-size: 16px;
    text-align: justify;
  }

  .users {
    width: 100%;
    margin: auto;
    height: fit-content;
    margin-top: 10px;
  }

  .recruit-txt {
    font-size: 20px;
  }

  .options span {
    font-size: 20px;
  }

  .active-option::after {
    width: 100px;
    height: 2.5px;
    margin-left: 1.5%;
  }

  .recruit-txt span {
    font-size: 18px;
  }

  .row-n {
    flex-direction: column;
  }

  .news,
  .event {
    width: 100%;
  }

  .news h2,
  .event h2 {
    font-size: 24px;
    margin: 5px;
  }

  .news a,
  .event a {
    font-size: 18px;
  }

  .activities {
    flex-direction: column;
  }

  .activities .graph,
  .activities .detail-timeline {
    width: 100%;
  }

  .bottom-bar div span {
    font-size: 10px;
  }

  .bottom-strip {
    flex-direction: column;
  }

  .color-panel {
    display: none;
  }

  .about .row-down {
    flex-direction: column-reverse;
  }

  .about h1 {
    font-size: 24px;
  }

  .about a {
    font-size: 18px;
  }

  .about p {
    font-size: 16px;
    width: 95%;
    margin: 5px auto;
  }

  .about .image img {
    max-height: 300px;
  }

  .text-d h3,
  .text-d a {
    margin-left: 2%;
  }

  .line-style img {
    width: 40vw;
  }

  .row-down .text,
  .row-down .image {
    width: 100%;
  }

  .row-down .text-d,
  .row-down .image-d {
    width: 100%;
  }

  .marquee-list {
    width: 160px;
    height: 80px;
  }

  .row-mid_c .contact-cards,
  .row-down_c .connection {
    flex-direction: column;
  }

  .connection {
    width: 100%;
  }

  .contact-cards {
    width: 100%;
    align-items: center;
  }

  .contact-card {
    width: 90%;
    margin: 10px 0;
  }

  .image_c,
  .content_c {
    width: 100%;
  }

  .image_c img {
    width: 90%;
  }

  .container-footer {
    flex-direction: column;
  }

  .container-footer .row-mid,
  .container-footer {
    flex-direction: column;
  }

  .container-footer .row-bottom {
    flex-direction: column-reverse;
    padding: 5px;
    margin: 10px 5px;
  }
  .copyright p {
    padding: 20px 0;
  }

  .container-footer .row-top {
    margin: 0px;
    padding: 20px;
  }

  .footer .logo img {
    width: 50px;
  }

  .row-top .buttons {
    flex-direction: column;
    font-size: 5px;
    width: fit-content;
    /* padding: 10px; */
    /* height: 10px; */
  }

  .row-top .buttons .btn {
    font-size: 10px;
  }

  .newsleters {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .container-footer .row-mid {
    text-align: left;
    align-items: flex-start;
    margin: 5px;
    padding: 0px;
  }

  .row-mid .links {
    flex-direction: column;
    width: calc(90%);
    justify-content: start;
  }

  .quick-link,
  .institute-links,
  .help-links {
    /* background-color: black; */
    width: 90%;
    margin-top: 30px;
  }

  .hamburger .menu {
    position: fixed;
    width: 300px;
    top: 1%;
    /* left: 0%; */
    right: 1%;
    height: 98vh;
    /* background-color: black; */
    background-color: rgba(255, 255, 255, 0.899);
    backdrop-filter: blur(5px);
  }

  .image-d img {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .card1-new,
  .card2-new {
    height: 75vh;
  }
  .nav-logo {
    display: block;
    width: 60%;
  }
  .card1,
  .card2 {
    height: calc(75vh - 40px);
  }
  .carousel {
    height: 33vh;
  }
  .carousel-item {
    height: 30vh;
  }
  .register,
  .contact,
  .rst,
  .faq {
    font-size: 16px;
  }

  .students-btns,
  .query-app {
    margin-top: 5%;
  }

  .contact-card {
    align-items: center;
  }

  .contact-card img {
    width: 120px;
    height: 120px;
  }

  .card-content {
    padding: 0 10px;
  }

  .card-content h3 {
    font-size: 16px;
  }

  .card-content p {
    font-size: 12px;
  }

  .card-content h4 {
    font-size: 14px;
  }

  .heading h1 {
    font-size: 26px;
  }
}
