* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Arial";
  color: #434343;
  font-weight: 400;
  font-size: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.main-container {
  position: relative;
  top: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.top-div {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.back-button {
  display: flex;
  justify-content: space-around;
  height: 40px;
  width: 120px;
  align-items: center;
  font-family: "Arial";
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 0px 20px 10px rgba(203, 200, 200, 0.193);
}

.back-button a {
  align-items: center;
  text-decoration: none;
  color: #434343;
  font-size: 20px;
  font-weight: 500;
}

.back-button:hover,
.back-button:hover a {
  color: rgb(255, 255, 255);
  background: #f22825;
  cursor: pointer;
}

.institute-logo {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mid-div {
  display: flex;
  width: 100%;
  height: auto;
  margin: 5vh auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.left-div,
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 0px 20px 10px rgba(158, 158, 158, 0.193);
  height: 50vh;
  margin: 20px auto;
  padding: 20px 20px;
}

.left-div {
  width: calc(60% - 30px);
}

.right-div {
  width: calc(35% - 30px);
}

.option-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background: #f5f5f5;
  border: 2px solid #dedcdc;
  border-radius: 20px;
  width: 100%;
  padding: 10px 5%;
}

.details-div ::placeholder {
  color: rgba(104, 104, 104, 0.7);
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.left-op,
.right-op {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.option-div img {
  width: 40px;
  height: auto;
  padding: 0 5px;
}

.details-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

.details-div textarea {
  width: 100%;
  height: 100px;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  border: none;
  background: #fcfcfc;
  box-shadow: inset 2px 2px 5px 2px rgba(60, 60, 60, 0.25);
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}

.details-div textarea:focus {
  background: white;
}

.details-div input {
  width: 100%;
  height: 60px;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  border: none;
  background: #fcfcfc;
  box-shadow: inset 2px 2px 5px 2px rgba(60, 60, 60, 0.25);
  border-radius: 20px;
  margin: 10px 0;
}

.add-button {
  width: 100%;
  height: 60px;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  background: #f9f9f9;
  border: 3px solid #e7a849;
  border-radius: 40px;
  margin: 10px 0;
}

.publish-btn {
  width: 50%;
  height: auto;
}

.publish-btn img {
  width: 100%;
  height: auto;
  padding: 10px;
}
.add-button:hover {
  background: #e7a849;
  color: white;
  cursor: pointer;
}
.publish-btn img:hover {
  cursor: pointer;
}

.bottom-div {
  background: #f5f5f5;
  border: 2px solid #cbcbcb;
  border-radius: 20px;
}

.title-div {
  display: flex;
  width: 100%;
  height: auto;
  margin: 10px 20px;
  color: #272727;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.history-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 10px 0;
  color: #272727;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.h-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 50px;
  margin: 10px auto;
}

.time,
.h-text,
.update-btn,
.delete-btn {
  background: #ffffff;
  border: 2px solid #999999;
  height: 100%;
}

.time {
  width: 50px;
  height: auto;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}
.time h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.time p {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}
.h-text {
  width: calc(60% - 60px);
  height: 100%;
  border-radius: 20px;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
.h-text a {
  text-align: center;
  font-size: 20px;
  padding: 2%;
  /* width: 100%; */
  height: auto;
}
.update-btn {
  width: 160px;
  height: auto;
  text-align: center;
  border-radius: 20px;
}
.update-btn button {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  background: #f9f9f9;
  border-radius: 20px;
  border: none;
}
.delete-btn {
  width: 160px;
  height: auto;
  text-align: center;
  border-radius: 20px;
}
.delete-btn button {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 500;
  color: #f22825;
  background: #f9f9f9;
  border-radius: 20px;
  border: none;
}

.responses {
  padding: 1%;
}

.response-table {
  background-color: #ffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  margin: 0 2px 0 2px;
  text-align: center;
}
