.recruiters {
  margin-top: 20px;
}

.container-fr {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-mobile {
  width: 90%;
  margin: 0 5%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  width: calc(70% - 20px);
  border-radius: 20px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  background-color: #ffffff;
}
.main-container-mb {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  background-color: #ffffff;
}
.main-container .heading,
.main-container-mb .heading {
  padding: 20px;
  text-align: left;
  font-family: "Arial";
  color: #4e4e4e;
  font-weight: 600;
}
.main-container .heading h1,
.main-container-mb .heading h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.main-container .heading h1::after,
.main-container-mb .heading h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.6px;
  background-color: #4e4e4e;
  margin-top: 10px;
}
.main-container .heading p,
.main-container-mb .heading p {
  font-size: 18px;
  font-weight: 400;
}

.content-fr {
  width: 100%;
  padding: 20px;
  text-align: left;
  font-family: "Arial";
  color: #4e4e4e;
  font-weight: 400;
}
.content-fr .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-fr {
  width: 100%;
  height: auto;
}
.content-fr .card-img-fr img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 30px;
}
.card-details-fr {
  width: 100%;
  padding: 20px;
  margin: 0 10px;
  color: #4e4e4e;
}
.card-details-fr ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-details-fr ul li {
  list-style: number;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.card-details-fr ul h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card-details-fr ul img {
  max-width: 400px;
  height: 230px;
  padding: 10px;
}

.side-container {
  width: calc(30% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side-div-up,
.side-div-mid,
.side-div-down {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 4px 20px 10px rgba(186, 186, 186, 0.2);
  background-color: #ffffff;
  margin-bottom: 30px;
}
.side-div-up {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side-div-up .button {
  width: 80%;
  margin: 0 auto;
  height: 45px;
  border-radius: 20px;
  border: 1.5px solid #ecb030;
  background-color: #ffffff;
  color: #ffffff;
  font-family: "Arial";
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.side-div-up .active-button {
  border: none;
  background-color: #e7af22;
}

.side-div-up .button a,
.side-div-up .active-button a {
  text-decoration: none;
  color: #d8b00e;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
}
.side-div-up .active-button a {
  color: #ffffff;
}

.side-div-mid {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Arial";
}
.side-div-mid h2 {
  margin: 5px 20px;
  font-size: 20px;
  color: #3c3c3c;
  font-weight: 600;
  margin-bottom: 10px;
}
.register-btn {
  width: 80%;
  margin: 2px auto;
  height: 45px;
  border-radius: 20px;
  background-color: #ecb030;
  color: #ffffff;
  font-family: "Arial";
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register-btn a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
}
.register-btn:hover {
  border: 1.5px solid #ecb030;
  background-color: #ffffff;
  color: #ecb030;
}
.register-btn:hover a {
  color: #ecb030;
}

.side-div-down {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-info {
  margin-top: 5px;
}
.side-div-down h3 {
  margin: 5px 10px;
  font-size: 20px;
  color: #4e4e4e;
  font-family: "Arial";
  font-weight: 600;
  margin-bottom: 10px;
}
.side-div-down h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.6px;
  background-color: #4e4e4e;
  margin-top: 10px;
}
.side-div-down p {
  margin: 5px 10px;
  font-size: 18px;
  color: #4e4e4e;
  font-family: "Arial";
  font-weight: 400;
}
.team-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 20px; */
}
.contact-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contact-card {
  width: 45%;
}

.contact-card .card-img {
  align-items: center;
}
.team-card .card-img img {
  border-radius: 50%;
}
.map-embed {
  width: 94%;
  margin: 3% 3%;
  height: auto;
  border-radius: 0 0 20px 20px;
  outline: 1px solid #e2e2e2;
}
.map-embed iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
}

.charts {
  width: 100%;
}

@media (max-width: 992px) {
  .container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-fr {
    display: none;
  }
  .main-container {
    width: 100%;
  }
  .side-container {
    width: 100%;
  }
  .team-grid {
    justify-content: center;
  }
}
