.reach-us-div {
    /* height: auto; */
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.reach-info {
    width: calc(50%);
    margin: 0 2%;
}

.reach-info h3 {
    margin: 10px;
    font-size: 24px;
    color: #4e4e4e;
    font-family: "Arial";
    font-weight: 600;
    margin-bottom: 10px;
}

.reach-info h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.6px;
    background-color: #4e4e4e;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reach-info p {
    margin: 10px 10px;
    font-size: 18px;
    color: #4e4e4e;
    font-family: "Arial";
    font-weight: 400;
}

.map-embed-i {
    width: calc(50%);
    margin: 1% 1%;
    height: 320px;
    border-radius: 0 20px 20px 0;
    outline: 1px solid #e2e2e2;
}

.map-embed-i iframe {
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
}

.text-new, .image-new, .contents{
    width: calc(33% - 20px);
}

.text-new{
    font-family: sans-serif;
    text-align: justify;
    font-size: 18px;
    vertical-align: middle;
}
.row-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #4e4e4e;
}
.image-new{
    display: flex;
    justify-content: center;
}

.image-new img{
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 20px auto;
    align-items: center;
}

h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 24px;
}

h3, li{
    text-align: left;
    font-family: sans-serif;
    padding: 5px 0;
}

@media (max-width: 992px) {
    .row-down {
        flex-direction: column;
        width: 100%;
    }
    .text-new, .image-new,.contents {
        width: 100%;
        padding: 5%;
    }
    .reach-us-div {
        flex-direction: column;
        width: 100%;
    }
    .reach-info {
        width: 100%;
    }
    .map-embed-i {
        width: 100%;
        padding: 2% 2%;
    }
    .map-embed-i , .map-embed-i iframe {
        border-radius: 0 0 20px 20px;
        margin: 0 auto;
    }
}