* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Arial";
  color: #434343;
  font-weight: 400;
  font-size: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.student-page {
  text-align: left;
  font-size: 20px;
  font-family: "Arial";
  color: #434343;
  font-weight: 600;
}

.side-container {
  position: fixed;
  width: calc(21%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(
    175.34deg,
    rgba(255, 255, 255, 0.71) 2.59%,
    rgba(228, 228, 228, 0.4118) 93.71%
  );
  box-shadow: 2px 0px 20px 10px rgba(203, 200, 200, 0.25);
  backdrop-filter: blur(40px);
  /* z-index: 1; */
}

.profile {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20%;
  padding: 10px;
}

.profile::after {
  content: "";
  border: 0.5px solid #7e7e7e;
  margin: 10px 0;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #fff;
  filter: drop-shadow(2px 2px 20px rgba(140, 140, 140, 0.25));
  margin-bottom: 30px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-name {
  font-family: "Arial";
  color: #434343;
  font-weight: 600;
}

.profile-name h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-name p {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}

.contact-info {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  align-items: left;
  padding: 10px;
  font-family: "Arial";
  color: #434343;
  font-weight: 600;
}

.contact-info::after {
  content: "";
  border: 0.5px solid #7e7e7e;
  margin: 10px 0;
}

.contact-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}

.social-bar {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  padding: 10px;
  align-items: left;
  font-family: "Arial";
  color: #434343;
  font-weight: 600;
}

.social-bar::after {
  content: "";
  border: 0.5px solid #7e7e7e;
  margin: 10px 0;
}

.social-bar h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-bar i {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}

.social-bar a {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(79%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.top-div {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-family: "Arial";
  text-align: center;
  cursor: pointer;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 2px 0px 20px 10px rgba(203, 200, 200, 0.25);
}

.back-button button {
  outline: none;
  background-color: transparent;
  border: none;
}

.back-button a,
.back-button button {
  align-items: center;
  text-decoration: none;
  color: #434343;
  font-size: 20px;
  font-weight: 500;
  width: 90%;
}

.back-button:hover,
.back-button:hover a {
  color: rgb(255, 255, 255);
  background: #e7a849;
}

.back-button:hover button {
  color: rgb(255, 255, 255);
}

.institute-logo {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin: auto;
}

.download-resume {
  display: none;
}

.resume {
  overflow: hidden;
  display: block;
  border-radius: 20px;
  width: 100%;
}

.resume iframe {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  box-decoration-break: initial;
  scroll-behavior: smooth;
  border-radius: 5px;
  color: #fff;
  background: #7e7e7e;
}

.resume iframe::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.mob-nav-div {
  display: none;
}

@media (max-width: 992px) {
  .mob-nav-div {
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 10%;
  }

  .mob-nav-div .institute-logo {
    width: 80%;
  }
  .mob-nav-div img {
    width: 100%;
  }

  .out-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .download-resume {
    display: block;
  }

  .resume {
    display: none;
  }

  .side-container,
  .main-container {
    position: relative;
    width: 90%;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(252, 255, 255);
  }

  .main-container .top-div {
    display: none;
  }

  .back-button {
    margin: 2% 0;
    width: 80%;
    padding: 3%;
  }

  .back-button a {
    font-size: 12px;
  }
  .profile,
  .contact-info,
  .social-bar {
    margin: 0 0;
  }

  .resume iframe {
    height: 60vh;
  }
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.overlay .overlay-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 2px 0px 20px 10px rgba(203, 200, 200, 0.25);
}

.overlay .overlay-form .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 2%;
  border-bottom: 1px solid #7e7e7e;
}

.overlay .overlay-form .heading h1 {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 600;
  color: #434343;
}

.overlay .overlay-form #update-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2% 0;
  padding: 5%;
}

.overlay .overlay-form #update-cgpa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2% 0;
  padding: 5%;
}

.overlay .overlay-form #update-cgpa #cgpa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 2% 0;
  padding: 2%;
  border-radius: 20px;
  outline: none;
  border: 2px solid #7e7e7e;
}

.overlay .overlay-form #form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 2% 0;
  padding: 2%;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #e9bd43;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.overlay .overlay-form #form-btn:hover {
  transform: scale(1.04);
}

.overlay .overlay-form #form-btn:active {
  transform: scale(0.7);
}

.overlay .overlay-form #close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 2% 0;
  padding: 2%;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #e75f2e;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
